// index/dashboard page
//-----------------------------------------------------------------------------------

.main{
  min-height: 100vh;
  background: url(../img/svg/bg.svg) center bottom no-repeat;
  background-size: cover;
  padding-top: 25px;
  box-sizing: border-box;
  @media (max-height: 700px) {
    padding-top: 40px;
  }
  @media (max-width: 991px) {
    padding-bottom: 88px;
    padding-top: 88px;
  }
}
.main-text{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  width: 592px;
  max-width: 100%;
  margin: 0 auto 16px;
  span{
    font-weight: bold;
  }
  @media (max-width: 767px) {
    font-size: 19px;
    line-height: 32px;
    margin-bottom: 105px;
  }
}
.btn{
  background: linear-gradient(166.6deg, #FF5858 15.28%, #F09819 83.98%);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24), 0px 0px 12px rgba(1, 1, 1, 0.12);
  border-radius: 32px;
  width: 250px;
  max-width: 100%;
  height: 56px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $GothamPro;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  &:hover{
    background: #F09819;
    box-shadow: 0px 4px 16px rgba(240, 152, 25, 0.5);
  }
}
.main-circle{
  width: 632px;
  height: 632px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#F3F3F3, 0.5);
  @media (max-width: 991px) {
    width: auto;
    height: auto;
    background: transparent;
  }
}
.border-circle{
  width: 528px;
  height: 528px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px dashed #F3F3F3;
  @media (max-width: 991px) {
    width: auto;
    height: auto;
    border: 0;
    background: transparent;
  }
}
.last-circle{
  width: 440px;
  height: 440px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #F3F3F3;
  position: relative;
  @media (max-width: 991px) {
    width: auto;
    height: auto;
    background: transparent;
    flex-direction: column;
  }
}
.taxi-item{
  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(120, 120, 120, 0.2);
  box-sizing: border-box;
  padding: 24px 32px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  right: 50%;
  top: 0;
  border-radius: 16px 16px 16px 0;
  @media (max-width: 991px) {
    position: relative;
    left: auto !important;
    top: auto !important;
    right: auto !important;
    width: 100%;
    margin: 0 0 16px 0 !important;
  }
  @media (max-width: 767px) {
    width: calc(100% - 30px);
    margin: 0 auto 16px !important;
  }
  &:hover{
    .taxi-hover{
      display: block;
      z-index: 10;
    }
    @media (max-width: 767px) {
      z-index: 2;
    }
  }
  &:nth-child(2n+1){
    right: auto;
    left: 50%;
    border-radius: 16px 16px 0 16px;
    .taxi-hover{
      border-radius: 16px 16px 0 16px;
    }
    .animate-circle{
      right: auto;
      left: 1px;
    }
  }
  &:nth-child(2) {
    top: -52px;
    margin-right: -334px;
    .taxi-text{
      width: 127px;
    }
    @media (max-width: 1050px) {
      margin-right: 20px;
    }
  }
  &:nth-child(3) {
    top: -52px;
    margin-left: -316px;
    .taxi-text{
      width: 133px;
    }
    @media (max-width: 1050px) {
      margin-left: 20px;
    }
  }
  &:nth-child(4) {
    top: 68px;
    margin-right: -474px;
    .taxi-text{
      width: 182px;
    }
    @media (max-width: 1130px){
      margin-right: -424px;
    }
    @media (max-width: 1050px) {
      margin-right: 20px;
    }
  }
  &:nth-child(5) {
    top: 68px;
    margin-left: -436px;
    .taxi-text{
      width: 124px;
    }
    @media (max-width: 1130px){
      margin-left: -386px;
    }
    @media (max-width: 1050px) {
      margin-left: 20px;
    }
  }
  &:nth-child(6) {
    top: 188px;
    margin-right: -540px;
    .taxi-text{
      width: 177px;
    }
    @media (max-width: 1130px){
      margin-right: -440px;
    }
    @media (max-width: 1050px) {
      margin-right: 20px;
    }
  }
  &:nth-child(7) {
    top: 188px;
    margin-left: -532px;
    .taxi-text{
      width: 153px;
    }
    @media (max-width: 1130px){
      margin-left: -482px;
    }
    @media (max-width: 1050px) {
      margin-left: 20px;
    }
  }
  &:nth-child(8) {
    top: 308px;
    margin-right: -476px;
    .taxi-text{
      width: 194px;
    }
    @media (max-width: 1130px){
      margin-right: -416px;
    }
    @media (max-width: 1050px) {
      margin-right: 20px;
    }
  }
  &:nth-child(9) {
    top: 308px;
    margin-left: -482px;
    .taxi-text{
      width: 242px;
    }
    @media (max-width: 1050px) {
      margin-left: 20px;
    }
  }
}
.taxi-icon-block{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.taxi-text{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #E7711C;
}
.taxi-hover{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px 16px 16px 0;
  background: #E6711C;
  box-shadow: 0px 15px 30px rgba(120, 120, 120, 0.2);
  width: calc(100% + 106px);
  box-sizing: border-box;
  padding: 24px 32px;
  display: none;
  @media (max-width: 991px) {
    width: 100%;
  }
}
.taxi-hover-name{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(#fff, 0.1);
  margin-bottom: 8px;
}
.taxi-hover-text{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}
.animate-circle{
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FBE51E;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(251, 229, 30, 0.2);
  animation: pulse 2s infinite;
  position: absolute;
  top: 1px;
  right: 1px;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(251, 229, 30, 0.2);
  }
  70% {
    box-shadow: 0 0 0 24px rgba(251, 229, 30, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(251, 229, 30, 0);
  }
}

.menu-overaly{
  z-index: 101;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  cursor: pointer;
  display: none;
}
.menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 102;
  height: 100vh;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(120, 120, 120, 0.2);
  width: 400px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transform: translateX(100%);
  &.active{
    transform: translateX(0);
  }
  @media (max-height: 600px) {
    display: block;
    padding-top: 40px;
  }
  @media (max-width: 767px) {
    width: 273px;
  }
}
.menu-list{
  @media (max-height: 600px) {
    margin-bottom: 60px;
  }
}
.menu-list-btn{
  height: 85px;
  width: 100%;
  position: relative;
  transition: 0.3s;
  font-family: $GothamPro;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: rgba(#111111, 0.9);
  @media (max-width: 767px) {
    font-size: 15px;
  }
  &:hover{
    background: #F3F3F3;
  }
  &.active{
    background: #F3F3F3;
  }
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 1px;
    width: 256px;
    background: #F3F3F3;
    @media (max-width: 767px) {
      width: 209px;
    }
  }
}
.close-menu{
  background: #F3F3F3;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 25px;
}
.robot{
  @media (max-width: 1050px) {
    position: absolute;
    top: -90px;
    left: -150px;
  }
  @media (max-width: 991px) {
    top: -10px;
    left: -190px;
  }
  @media (max-width: 767px) {
    width: 190px;
    top: -100px;
    left: 10px;
  }
}
.mob-container{
  margin-bottom: 14px;
  @media (max-width: 991px) {
    margin-bottom: 0;
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;
    padding: 16px 15px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.35%);
  }
}
.remodal-overlay{
  background: rgba(0, 0, 0, 0.6);
}
.form-modal{
  width: 556px;
  max-width: 100%;
  background: #FBFBFB;
  border-radius: 8px;
  padding-top: 88px;
  padding-bottom: 88px;
  padding-left: 22px;
  padding-right: 22px;
  @media (max-width: 767px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.remodal-close{
  width: 22px;
  height: 22px;
  background-image: url(../img/svg/close.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #F3F3F3;
  border-radius: 50%;
  top: 17px;
  right: 17px;
  left: auto;
  &:before{
    display: none;
  }
  @media (max-width: 767px) {
    top: 9px;
    right: 9px;
  }
}
.modal-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .btn{
    width: 380px;
    max-width: 100%;
  }
}
.form-name{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #000000;
  margin-bottom: 8px;
  @media (max-width: 767px) {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 0;
  }
}
.form-text{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #111111;
  margin-bottom: 48px;
  @media (max-width: 767px) {
    font-size: 13px;
    margin-bottom: 24px;
  }
}
.label-input{
  display: flex;
  width: 380px;
  max-width: 100%;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
  .input-error{
    position: absolute;
    top: 100%;
    right: 24px;
    font-family: $GothamPro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: red;
  }
}
.input{
  width: 100%;
  height: 48px;
  border: 1px solid rgba(251, 229, 30, 0.1);
  box-shadow: 0px 4px 8px rgba(17, 17, 17, 0.08);
  border-radius: 24px;
  text-indent: 24px;
  font-family: $GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #111111;
  &::placeholder{
    color: rgba(#111111, 0.5);
  }
}
.label-check{
  display: flex;
  width: 380px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-top: -8px;
  margin-bottom: 24px;
  cursor: pointer;
  position: relative;
  @media (max-width: 767px) {
    margin-top: -4px;
  }
  .input-error{
    position: absolute;
    top: 100%;
    font-family: $GothamPro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: red;
    width: 100%;
    text-align: right;
    right: 0;
  }
}
.checkbox{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  &:checked{
    &+.checkbox-icon{
      background-color: #E6711C;
      background-image: url(../img/svg/check.svg);
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}
.checkbox-icon{
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #E6711C;
  border-radius: 2px;
  margin-right: 12px;
}
.checkbox-text{
  width: calc(100% - 32px);
  font-family: $GothamPro;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #000000;
  opacity: 0.5;
  text-align: left;
}
.section{
  position: fixed;
  z-index: 104;
  width: calc(100vw - 408px);
  height: calc(100vh - 8px);
  overflow: auto;
  background-color: #fff;
  left: 4px;
  top: 4px;
  display: none;
  box-sizing: border-box;
  padding: 80px 116px;
  &#price{
    @media (max-width: 1400px) {
      padding: 80px 25px;
    }
    @media (max-width: 1100px){
      padding: 24px 15px;
    }
  }
  @media (max-width: 1100px){
    padding: 24px 15px;
  }
  @media (max-width: 767px){
    width: calc(100vw - 8px);
  }
}
.page-name{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #000000;
  @media (max-width: 767px) {
    font-size: 17px;
    line-height: 28px;
  }
}
.page-header{
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 767px) {
    margin-bottom: 16px;
  }
}
.page-text{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #111111;
  margin-bottom: 24px;
  &:last-child{
    margin-bottom: 0;
  }
  &.mb-8{
    margin-bottom: 8px;
    @media (max-width: 767px) {
      margin-bottom: 4px;
    }
  }
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
  }
}
.about-row{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 16px;
  &:last-child{
    margin-bottom: 0;
  }
  &.mb-24{
    margin-bottom: 24px;
    @media (max-width: 767px) {
      margin-bottom: 12px;
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 8px;
  }
}
.about-icon{
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    svg{
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.about-text-block{
  width: calc(100% - 72px);
  @media (max-width: 767px) {
    width: calc(100% - 48px);
  }
}
.about-name{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #111111;
  opacity: 0.9;
  margin-bottom: 4px;
  @media (max-width: 767px) {
    font-size: 15px;
    line-height: 20px;
    min-height: 40px;
  }
}
.about-text{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  opacity: 0.8;
  @media (max-width: 767px) {
    font-size: 13px;
    line-height: 18px;
    width: calc(100% + 48px);
    margin-left: -48px;
  }
}
.page-text{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  opacity: 0.8;
}
.close-page{
  display: none;
  @media (max-width: 767px){
    display: block;
  }
}
.modal-section{
  position: fixed;
  z-index: 104;
  width: calc(100vw - 8px);
  height: calc(100vh - 8px);
  overflow: auto;
  left: 4px;
  top: 4px;
  display: none;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  .form-modal{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 548px;
    @media (max-width: 767px) {
      width: 300px;
    }
  }
}
.page-step{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #111111;
  padding-left: 48px;
  position: relative;
  margin-bottom: 16px;
  @media (max-width: 767px) {
    padding-left: 32px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  &:last-child{
    margin-bottom: 0;
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #FBE51E;
    opacity: 0.2;
    filter: blur(2px);
    @media (max-width: 767px) {
      width: 24px;
      height: 24px;
    }
  }
  &:after{
    content: '';
    position: absolute;
    left: 12px;
    top: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FBE51E;
    @media (max-width: 767px) {
      left: 8px;
      top: 8px;
    }
  }
}
.recomend-row{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.recomend-item{
  width: 20%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 767px) {
    width: 33.33%;
    height: 100px;
    img{
      max-width: 51px;
      max-height: 51px;
    }
  }
}
.price-table{
  width: 888px;
  position: relative;
}
.price-container{
  width: 100%;
  overflow: auto;
}
.price-add-head{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.clear-add-head{
  border-bottom: 1px solid #CCCCCC;
  width: 216px;
}
.free-add-head{
  height: 48px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#E6711D, 0.85);
  border-top-left-radius: 4px;
  font-family: $GothamPro;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  &:before{
    content: '';
    position: absolute;
    box-shadow: 0px 15px 30px rgba(120, 120, 120, 0.2);
    width: 210px;
    height: calc(100% - 20px);
    top: 20px;
    left: 216px;
    border-top-left-radius: 4px;
  }
}
.top-add-head{
  width: 252px;
  background: linear-gradient(166.65deg, #FF5858 15.28%, #F09819 83.98%);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $GothamPro;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
  &:before{
    content: '';
    position: absolute;
    box-shadow: 0px 15px 30px rgba(120, 120, 120, 0.2);
    width: 252px;
    height: 100%;
    top: 0;
    left: 426px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
.mid-add-head{
  height: 48px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#E6711D, 0.85);
  border-top-right-radius: 4px;
  font-family: $GothamPro;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  &:after{

  }
  &:before{
    content: '';
    position: absolute;
    box-shadow: 0px 15px 30px rgba(120, 120, 120, 0.2);
    width: 210px;
    height: calc(100% - 20px);
    top: 20px;
    left: 678px;
    border-top-right-radius: 4px;
  }
}
.price-head-row{
  display: flex;
  justify-content: flex-start;
}
.clear-head-item{
  width: 216px;
  height: 181px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: $GothamPro;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #111111;
  border-bottom: 1px solid #CCCCCC;
}
.free-head-item{
  border-bottom: 1px solid #CCCCCC;
  width: 210px;
  height: 181px;
}
.free-head-item-conatiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EFEFEF;
  height: 181px;
  box-sizing: border-box;
}
.price-head-text{
  text-align: center;
  font-family: $GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.8px;
  color: #111111;
  margin-bottom: 16px;
  @media (max-width: 478px){
    font-size: 11px;
  }
}
.price-head-cost{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 38px;
  text-align: center;
  color: #111111;
  margin-bottom: 4px;
  @media (max-width: 478px){
    font-size: 18px;
    line-height: 16px;
  }
}
.price-head-val{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: #111111;
  @media (max-width: 478px){
    margin-bottom: 10px;
  }
}
.top-head-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 252px;
  height: 181px;
  background-color: #EFEFEF;
  position: relative;
  border-bottom: 1px solid #CCCCCC;
  &:before{
    content: '';
    position: absolute;
    background-color: #EFEFEF;
    width: 100%;
    height: 20px;
    top: -20px;
    left: 0;
  }
  .price-head-val{
    margin-bottom: 16px;
  }
}
.price-head-val-add{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.8px;
  color: #111111;
  opacity: 0.7;
}
.price-table-row{
  display: flex;
  justify-content: flex-start;
}
.price-table-item{
  height: 88px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &:nth-child(1) {
    width: 216px;
  }
  &:nth-child(2) {
    width: 210px;
    .price-table-item-container{
      height: 88px;
      width: 210px;
    }
  }
  &:nth-child(3) {
    width: 252px;
    .price-table-item-container{
      height: 88px;
      width: 252px;
      position: relative;
    }
  }
  &:nth-child(4) {
    width: 210px;
    .price-table-item-container{
      height: 88px;
      width: 210px;
    }
  }
  &.mod-128{
    height: 128px;
    &:nth-child(2){
      .price-table-item-container{
        height: 128px;
      }
    }
    &:nth-child(3){
      .price-table-item-container{
        height: 128px;
      }
    }
    &:nth-child(4){
      .price-table-item-container{
        height: 128px;
      }
    }
  }
}
.price-table-item-container{
  background-color: #FBFBFB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.price-table-text{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #111111;
  padding-right: 18px;
}
.price-table-item-text{
  font-family: $GothamPro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  opacity: 0.5;
  margin-top: 9px;
}


.price-table {
  display: none;
}

/*  comparison table*/


.comparison {
  max-width:940px;
  margin:0 auto;
  text-align:center;
  padding:10px;
}

.comparison table {
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  border-bottom:1px solid #CCC;
}

.comparison td, .comparison th {
  border-right:1px solid #CCC;
  empty-cells: show;
  padding:10px;
}

.compare-heading {
  font-size:18px;
  font-weight:bold !important;
  border-bottom:0 !important;
  color: #ffffff;
  background-color: rgba(230, 113, 29, 0.85);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-left: 0;
  border-right: #6692b0 !important;
  height: 48px;
  line-height: 48px;
  @media (max-width: 478px) {
    line-height: 22px;

  }
}

.compare-heading_th {
  background: #EFEFEF;
}
.compare-heading_th__first {
  text-align: left;
  font-weight: bold !important;
}

.compare-heading_th th:nth-child(1) {
  background: #ffffff;
}

.compare-heading__main {
  background: linear-gradient(166.65deg, #FF5858 15.28%, #F09819 83.98%);
  transform: translateY(-15px);
}

.comparison tbody tr:nth-child(odd) {
  display:none;
}

.comparison .compare-row {
  background:#F5F5F5;
}


.comparison th {
  font-weight:normal;
  padding:0;
  border-bottom:1px solid #CCC;
}

.comparison tr td:first-child {
  text-align:left;
  font-size: 14px;
  color: #111111;
}

.comparison .tl {
  border-right: #6692b0 !important;
}

.comparison .qbse, .comparison .qbo, .comparison .tl {
  color:#FFF;
  padding:10px;
  font-size:13px;
  border-right:1px solid #CCC;
  border-bottom:0;
}

.comparison .tl2 {
  border-right:0;
}

.comparison .qbse {
  background:#0078C1;
  border-top-left-radius: 3px;
  border-left:0px;
}

.comparison .qbo {
  background:#009E2C;
  border-top-right-radius: 3px;
  border-right:0px;
}

.comparison .price-info {
  padding:5px 15px 15px 15px;
  background: #EFEFEF;
}
.comparison .price-info__main {
  transform: translateY(-15px);

}

.comparison .price-was {
  color:#999;
  text-decoration: line-through;
}

.comparison .price-now, .comparison .price-now span {
  color:#ff5406;
}

.comparison .price-now span {
  font-size:32px;
}

.comparison .price-small {
  font-size: 18px !important;
  position: relative;
  top: -11px;
  left: 2px;
}


.comparison td {
  font-size: 13px;
  vertical-align: middle;
}
.comparison .price-buy {
  background:#ff5406;
  padding:10px 20px;
  font-size:12px;
  display:inline-block;
  color:#FFF;
  text-decoration:none;
  border-radius:3px;
  text-transform:uppercase;
  margin:5px 0 10px 0;
}

.comparison .tickgreen:before {
  display: block;
  content: "";
  width: 100%;
  height: 15px;
  background: url("../img/svg/green_check.svg") no-repeat center center;
}
.comparison td:not(.tickgreen):before {
  display: block;
  content: "";
  width: 100%;
  height: 15px;
  background: url("../img/svg/red_minus.svg") no-repeat center center;
}
.comparison tr td:first-child:before {
  display: none;

}


.comparison .price-try {
  font-size:12px;
}

.comparison .price-try a {
  color:#202020;
}

@media (max-width: 767px) {
  .comparison td:first-child, .comparison th:first-child {
    display: none;
  }
  .comparison tbody tr:nth-child(odd) {
    display:table-row;
    background:#F7F7F7;
  }
  .comparison .row {
    background:#FFF;
  }
  .comparison td, .comparison th {
    border:1px solid #CCC;
  }
  .price-info {
    border-top:0 !important;

  }

}

@media (max-width: 639px) {
  .comparison .price-buy {
    padding:5px 10px;
  }
  .comparison td, .comparison th {
    padding:10px 5px;
  }
  .comparison .hide-mobile {
    display:none;
  }
  .comparison .price-now span {
    font-size:16px;
  }

  .comparison .price-small {
    font-size: 16px !important;
    top: 0;
    left: 0;
  }
  .comparison .qbse, .comparison .qbo {
    font-size:12px;
    padding:10px 5px;
  }
  .comparison .price-buy {
    margin-top:10px;
  }
  .compare-heading {
    font-size:13px;
  }
}

.comparison td.collspan:before {
  display: none !important;

}


