$base64-png: "image/png;base64";
$base64-jpg: "image/jpeg;base64";
$base64-svg: "image/svg+xml;base64";

// font var
//-----------------------------------------------------------------------------------
$default-font: Arial, "Helvetica Neue", Helvetica, sans-serif;

// +font-face('font-icon', 'fonts/font-icon/font-icon', 'font-icon')

// +font-face('AvenirNextCyr-Regular', '../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular', 'AvenirNextCyr-Regular', normal)
// +font-face('AvenirNextCyr-Medium', '../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium', 'AvenirNextCyr-Medium', 500)
// +font-face('AvenirNextCyr-Demi', '../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi', 'AvenirNextCyr-Demi', 600)
// +font-face('AvenirNextCyr-Bold', '../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold', 'AvenirNextCyr-Bold', 700)
//
//
// $AvenirRegular: 'AvenirNextCyr-Regular', $default-font

@include font-face("GothamPro", "../fonts/GothamPro/GothamPro", "GothamPro", 400);
@include font-face("GothamPro", "../fonts/GothamPro-Bold/GothamPro-Bold", "GothamPro-Bold", bold);
@include font-face("GothamPro", "../fonts/GothamPro-Medium/GothamPro-Medium", "GothamPro-Medium", 500);

$GothamPro: "GothamPro", $default-font;

// selection color
//-----------------------------------------------------------------------------------
$color-selection: dodgerblue;

// color var
//-----------------------------------------------------------------------------------
$color-link: dodgerblue;