<header id="header" class="wrapper header">
  <div class="header-container">
    <a href="#" class="logo-link">
      <img class="logo" src="assets/img/svg/logo.svg" alt="">
    </a>
    <button type="button" class="menu-btn">меню</button>
  </div>
</header>