<div class="remodal form-modal" id="form-modal" data-remodal-id="form-modal">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <form action="mail.php" method="post" target="_blank" class="modal-form">
      <h2 class="form-name">Заявка на подключение Viber бота</h2>
      <p class="form-text">Для автоматизации управления таксопарком</p>
      <label class="label-input">
        <input type="text" class="input" placeholder="Ваше имя" name="name">
      </label>
      <label class="label-input">
        <input type="tel" class="input" placeholder="Номер телефона" name="phone">
      </label>
      <label class="label-input">
        <input type="text" class="input" placeholder="Название организации" name="company">
      </label>
      <label class="label-input">
        <input type="email" class="input" placeholder="Контактный email" name="email">
      </label>
      <label class="label-check">
        <input type="checkbox" class="checkbox" name="personal">
        <span class="checkbox-icon"></span>
        <span class="checkbox-text">Я даю согласие на обработку моих персональных данных в соответствии с федеральным законом от 27.07.2006 года №152-фз «О персональных данных», получение СМС-рассылки и сообщений в мессенджеры</span>
      </label>
      <button type="submit" class="btn">Отправить заявку</button>
    </form>
</div>