<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
  <!-- Begin header -->
  <include src="../chunks/header.html"></include>
  <!-- End header -->
  <!-- Begin page body -->
  <div id="page-body" class="page-body js-index">
    <section class="main">
      <div class="container">
        <h1 class="main-text">Развивай таксопарк, не отвлекаясь на рутину - РоБот всё <span>сделает за тебя!</span></h1>
        <div class="mob-container">
          <button type="button" class="btn" data-remodal-target="form-modal">Подключить бесплатно</button>
        </div>
        <div class="main-circle">
          <div class="border-circle">
            <div class="last-circle">
              <img class="robot" src="assets/img/svg/robot.svg" alt="">
              <div class="taxi-item">
                <div class="taxi-icon-block">
                  <svg width="26" height="40" viewBox="0 0 26 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.3281 0C24.5336 0 24.7352 0.0835156 24.8804 0.228906C25.0258 0.374219 25.1094 0.575781 25.1094 0.78125V16.7875V16.7883C25.1094 17.2188 24.7586 17.5695 24.3281 17.5695C23.8977 17.5695 23.5469 17.2188 23.5469 16.7883V1.5625H2.45313V37.625L4.31797 36.1797C4.45617 36.0719 4.62188 36.0156 4.79609 36.0156C5.01008 36.0156 5.20937 36.1 5.35852 36.2539L7.28984 38.25L9.65938 36.9688C9.88516 36.8468 10.168 36.8453 10.3953 36.9648L12.9 38.2836L15.3891 36.1977C15.5289 36.0805 15.707 36.0156 15.8906 36.0156C16.0781 36.0156 16.2586 36.0827 16.4 36.2047L18.8001 38.2711L21.1359 36.9734C21.3672 36.8453 21.6641 36.8453 21.8953 36.9734L23.547 37.8906V23.8195C23.547 23.3891 23.8977 23.0383 24.3282 23.0383C24.7587 23.0383 25.1095 23.3891 25.1095 23.8195V39.2188C25.1095 39.4945 24.9617 39.7523 24.7242 39.8922C24.4906 40.0297 24.1859 40.0335 23.9484 39.9016L21.5156 38.5499L19.0827 39.9016C18.9664 39.9663 18.8351 40 18.7031 40C18.5164 40 18.3352 39.9328 18.193 39.8109L15.8836 37.8219L13.5016 39.8172C13.3617 39.9352 13.1828 39.9992 12.9992 39.9992C12.8727 39.9992 12.7477 39.9687 12.6359 39.9101L10.0359 38.5413L7.5125 39.9062C7.39922 39.9671 7.27031 39.9991 7.14141 39.9991C6.93047 39.9999 6.725 39.9132 6.57891 39.7624L4.72187 37.8429L2.15 39.8359C2.01406 39.9422 1.84375 40 1.67188 40C1.55398 40 1.43516 39.9726 1.32812 39.9202C1.05852 39.7883 0.890625 39.5195 0.890625 39.2188V0.78125C0.890625 0.575781 0.974219 0.374297 1.11953 0.228906C1.26484 0.0835156 1.46641 0 1.67188 0H24.3281ZM25.1094 20.304C25.1094 20.7354 24.7596 21.0852 24.3281 21.0852C23.8967 21.0852 23.5469 20.7354 23.5469 20.304C23.5469 19.8725 23.8967 19.5227 24.3281 19.5227C24.7596 19.5227 25.1094 19.8725 25.1094 20.304ZM20.0312 16.4062H13.0781C12.6467 16.4062 12.2969 16.7561 12.2969 17.1875C12.2969 17.6189 12.6467 17.9688 13.0781 17.9688H20.0312C20.4627 17.9688 20.8125 17.6189 20.8125 17.1875C20.8125 16.7561 20.4627 16.4062 20.0312 16.4062ZM13.0781 13.2812H20.0312C20.4627 13.2812 20.8125 13.6311 20.8125 14.0625C20.8125 14.4939 20.4627 14.8438 20.0312 14.8438H13.0781C12.6467 14.8438 12.2969 14.4939 12.2969 14.0625C12.2969 13.6311 12.6467 13.2812 13.0781 13.2812ZM20.0312 19.5312H13.0781C12.6467 19.5312 12.2969 19.8811 12.2969 20.3125C12.2969 20.7439 12.6467 21.0938 13.0781 21.0938H20.0312C20.4627 21.0938 20.8125 20.7439 20.8125 20.3125C20.8125 19.8811 20.4627 19.5312 20.0312 19.5312ZM13.0781 10.1562H20.0312C20.4627 10.1562 20.8125 10.5061 20.8125 10.9375C20.8125 11.3689 20.4627 11.7188 20.0312 11.7188H13.0781C12.6467 11.7188 12.2969 11.3689 12.2969 10.9375C12.2969 10.5061 12.6467 10.1562 13.0781 10.1562ZM20.0312 6.25H14.7188C14.2873 6.25 13.9375 6.59984 13.9375 7.03125C13.9375 7.46266 14.2873 7.8125 14.7188 7.8125H20.0312C20.4627 7.8125 20.8125 7.46266 20.8125 7.03125C20.8125 6.59984 20.4627 6.25 20.0312 6.25ZM5.96875 7.8125C5.53734 7.8125 5.1875 7.46266 5.1875 7.03125C5.1875 6.59984 5.53734 6.25 5.96875 6.25H11.2031C11.6345 6.25 11.9844 6.59984 11.9844 7.03125C11.9844 7.46266 11.6345 7.8125 11.2031 7.8125H5.96875ZM13 34.4531C13.4315 34.4531 13.7812 34.1033 13.7812 33.6719C13.7812 33.2404 13.4315 32.8906 13 32.8906C12.5685 32.8906 12.2188 33.2404 12.2188 33.6719C12.2188 34.1033 12.5685 34.4531 13 34.4531ZM16.5156 32.8906H20.0312C20.4617 32.8906 20.8125 33.2414 20.8125 33.6719C20.8125 34.1023 20.4617 34.4531 20.0312 34.4531H16.5156C16.0852 34.4531 15.7344 34.1023 15.7344 33.6719C15.7344 33.2414 16.0852 32.8906 16.5156 32.8906ZM5.96875 32.8906C5.53828 32.8906 5.1875 33.2414 5.1875 33.6719C5.1875 34.1023 5.53828 34.4531 5.96875 34.4531H9.48438C9.91484 34.4531 10.2656 34.1023 10.2656 33.6719C10.2656 33.2414 9.91484 32.8906 9.48438 32.8906H5.96875ZM11.2812 29.7656C11.7127 29.7656 12.0625 30.1155 12.0625 30.5469C12.0625 30.9783 11.7127 31.3281 11.2812 31.3281H5.96875C5.53734 31.3281 5.1875 30.9783 5.1875 30.5469C5.1875 30.1155 5.53734 29.7656 5.96875 29.7656H11.2812ZM20.0312 29.7656H14.7969C14.3655 29.7656 14.0156 30.1155 14.0156 30.5469C14.0156 30.9783 14.3655 31.3281 14.7969 31.3281H20.0312C20.4627 31.3281 20.8125 30.9783 20.8125 30.5469C20.8125 30.1155 20.4627 29.7656 20.0312 29.7656ZM20.0312 23.5156C20.4627 23.5156 20.8125 23.8655 20.8125 24.2969V27.4219C20.8125 27.8533 20.4627 28.2031 20.0312 28.2031H5.96875C5.53734 28.2031 5.1875 27.8533 5.1875 27.4219V24.2969C5.1875 23.8655 5.53734 23.5156 5.96875 23.5156H20.0312ZM6.75 26.6406H19.25V25.0781H6.75V26.6406ZM16.5156 4.6875C16.947 4.6875 17.2969 4.33766 17.2969 3.90625C17.2969 3.47484 16.947 3.125 16.5156 3.125H9.48438C9.05297 3.125 8.70312 3.47484 8.70312 3.90625C8.70312 4.33766 9.05297 4.6875 9.48438 4.6875H16.5156ZM9.01524 21.198C9.01524 21.6294 8.6654 21.9792 8.23399 21.9792C7.80259 21.9792 7.45274 21.6294 7.45274 21.198V20.3907H6.61938C6.18798 20.3907 5.83813 20.0409 5.83813 19.6095C5.83813 19.178 6.18798 18.8282 6.61938 18.8282H8.23399C8.90892 18.8282 9.45798 18.2921 9.45798 17.6173C9.45798 16.9424 8.90892 16.4063 8.23399 16.4063C6.69751 16.4063 5.44751 15.1563 5.44751 13.6198C5.44751 12.3546 6.29548 11.2844 7.45274 10.9457V10.0522C7.45274 9.62078 7.80259 9.27094 8.23399 9.27094C8.6654 9.27094 9.01524 9.62078 9.01524 10.0522V10.8595H9.8486C10.28 10.8595 10.6299 11.2093 10.6299 11.6407C10.6299 12.0721 10.28 12.422 9.8486 12.422H8.23399C7.55907 12.422 7.01001 12.958 7.01001 13.6329C7.01001 14.3077 7.55907 14.8438 8.23399 14.8438C9.77048 14.8438 11.0205 16.0938 11.0205 17.6303C11.0205 18.8955 10.1725 19.9658 9.01524 20.3045V21.198Z" fill="#FAE41E"/>
                  </svg>
                </div>
                <p class="taxi-text">Найду и оплачу штрафы ГИБДД</p>
                <div class="animate-circle"></div>
                <div class="taxi-hover">
                  <h3 class="taxi-hover-name">Найду и оплачу штрафы ГИБДД</h3>
                  <p class="taxi-hover-text">Проверю базы ГИБДД/МАДИ/ЦАФАП/ФСПП ... и если найду штраф - начислю на нужного водителя прямо в его Яндекс таксометр! Произведу оплату штрафа в ГИБДД.</p>
                </div>
              </div>
              <div class="taxi-item">
                <div class="taxi-icon-block">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.36 17.1829C18.6135 17.1829 14.7519 13.3286 14.7519 8.59131C14.7519 3.85407 18.6135 0 23.36 0C28.1065 0 31.9681 3.85407 31.9681 8.59131C31.9681 13.3286 28.1065 17.1829 23.36 17.1829ZM23.36 15.6207C27.2436 15.6207 30.4032 12.4674 30.4032 8.59131C30.4032 4.71558 27.2436 1.5622 23.36 1.5622C19.4764 1.5622 16.3168 4.71558 16.3168 8.59131C16.3168 12.4674 19.4764 15.6207 23.36 15.6207ZM18.4571 26.0248C18.7625 26.3303 18.7625 26.8246 18.4571 27.1301C18.1513 27.4347 17.656 27.4347 17.3499 27.1301C17.0447 26.8246 17.0447 26.3303 17.3499 26.0248C17.656 25.7202 18.1513 25.7202 18.4571 26.0248ZM9.05433 39.7689C9.35766 40.0741 9.85148 40.0774 10.1588 39.7753L13.9528 36.0449C14.5974 35.4015 14.7934 34.4491 14.5099 33.6211L15.326 32.8356C15.7654 32.412 16.344 32.1786 16.9555 32.1786H27.3588C29.2045 32.1786 30.9489 31.4712 32.2714 30.1867C32.2747 30.1835 32.276 30.1825 32.2774 30.1815C32.2893 30.1725 32.2991 30.1608 33.5746 28.6383C34.5586 27.4638 36.296 25.39 39.3687 21.7248C40.4826 20.4095 40.316 18.4344 38.9968 17.3214C37.686 16.2188 35.7223 16.3772 34.6053 17.6699L29.9876 22.4069C29.4044 21.6906 28.5153 21.2441 27.5545 21.2441H18.8281C17.5863 20.7256 16.2687 20.4632 14.9093 20.4632C11.1409 20.4632 7.85051 22.2002 6.08467 25.4571C5.34072 25.3164 4.55611 25.541 3.99165 26.1044L0.268864 29.8309C-0.0350745 30.1351 -0.035686 30.6274 0.267641 30.9325L9.05433 39.7689ZM14.909 22.0251C16.1076 22.0251 17.2665 22.2659 18.3541 22.7407C18.4532 22.784 18.5599 22.8063 18.6678 22.8063H27.5545C28.403 22.8063 29.1198 23.4969 29.1198 24.3682C29.1198 25.2297 28.4177 25.9304 27.5545 25.9304H21.1697C20.7376 25.9304 20.3872 26.2801 20.3872 26.7114C20.3872 27.1429 20.7376 27.4923 21.1697 27.4923H27.5545C29.2806 27.4923 30.6847 26.0909 30.6847 24.3682C30.6847 24.2309 30.6749 24.0948 30.6572 23.9599C32.1056 22.4739 33.1506 21.4021 33.9025 20.6309L33.9151 20.6179L33.9198 20.6131C35.4715 19.0216 35.7629 18.7227 35.781 18.7011C36.3388 18.0441 37.3289 17.9607 37.9875 18.5149C38.6467 19.0713 38.7302 20.0588 38.171 20.7195L31.1519 29.0942C30.127 30.0762 28.7813 30.6167 27.3588 30.6167H16.9555C15.9361 30.6167 14.971 31.0058 14.239 31.7117L13.574 32.3522L7.44322 26.2338C8.87607 23.551 11.5647 22.0251 14.909 22.0251ZM5.09916 27.2082C5.35723 26.9506 5.75351 26.9042 6.06815 27.0983C6.0766 27.1035 6.08301 27.1069 6.0893 27.1105C6.14345 27.1418 6.18922 27.1876 7.45256 28.451C8.39776 29.3963 10.0245 31.0231 12.8462 33.8354C13.159 34.1476 13.1422 34.645 12.8505 34.9362L9.61604 38.1164L1.92676 30.3835L5.09916 27.2082ZM22.4202 4.82056V3.90533C22.4202 3.47382 22.7706 3.12408 23.2027 3.12408C23.6348 3.12408 23.9852 3.47382 23.9852 3.90533V4.81506C24.3429 4.93347 24.7404 5.15045 25.1376 5.53406C25.448 5.83405 25.4563 6.32843 25.1557 6.63849C24.8551 6.94824 24.3598 6.95648 24.0491 6.6565C23.7727 6.38947 23.48 6.24817 23.2027 6.24817C22.7713 6.24817 22.4202 6.59882 22.4202 7.02942C22.4202 7.46002 22.7713 7.81037 23.2027 7.81037C24.4973 7.81037 25.5504 8.86139 25.5504 10.1535C25.5504 11.1716 24.8961 12.0398 23.9852 12.3624V13.2776C23.9852 13.7091 23.6348 14.0585 23.2027 14.0585C22.7706 14.0585 22.4202 13.7091 22.4202 13.2776V12.366C21.8989 12.1915 21.4069 11.8454 20.9886 11.3489C20.7103 11.0187 20.7532 10.5261 21.084 10.2484C21.4148 9.97101 21.9084 10.0134 22.1866 10.3436C22.5074 10.7248 22.8685 10.9345 23.2027 10.9345C23.6341 10.9345 23.9852 10.5841 23.9852 10.1535C23.9852 9.7229 23.6341 9.37256 23.2027 9.37256C21.9081 9.37256 20.855 8.32123 20.855 7.02942C20.855 6.01105 21.5093 5.14282 22.4202 4.82056Z" fill="#FAE41E"/>
                  </svg>
                </div>
                <p class="taxi-text">Получу платежи с водителя!</p>
                <div class="animate-circle"></div>
                <div class="taxi-hover">
                  <h3 class="taxi-hover-name">Получу платежи с водителя!</h3>
                  <p class="taxi-hover-text">Свяжу баланс Яндекс таксометра и банковскую карту водителя! Вывод денег и пополнение баланса сделаю круглосуточно за 3 секунды! Сам спишу задолженность с карты водителя</p>
                </div>
              </div>
              <div class="taxi-item">
                <div class="taxi-icon-block">
                  <svg width="30" height="40" viewBox="0 0 30 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M28.8577 7.03461C28.8605 7.03796 28.8632 7.04102 28.8663 7.04407C29.4534 7.69562 29.7766 8.53668 29.7766 9.41559V33.3228C29.7766 34.9142 28.4814 36.2094 26.8896 36.2094H24.6609V37.4329C24.6609 38.8483 23.5092 40 22.0938 40H4.15863C1.99463 40 0.234375 38.2397 0.234375 36.0757V6.85852C0.234375 5.4425 1.38611 4.29077 2.80151 4.29077H3.78815V2.88666C3.78815 1.29486 5.08331 0 6.67511 0H20.8539C20.9967 0 21.1386 0.00885008 21.279 0.0259399L21.2967 0.0280437L21.3123 0.0299072C21.3132 0.0302124 21.3141 0.0302124 21.315 0.0302124C22.142 0.137634 22.8976 0.528565 23.4671 1.15021L28.587 6.7395L28.8455 7.02148L28.8505 7.02667L28.8539 7.0304L28.8577 7.03461ZM22.3224 8.02582H27.6468L27.2754 7.62054L22.3148 2.20581C22.1558 2.03217 21.9681 1.88995 21.7624 1.78375V7.46582C21.7624 7.77466 22.0135 8.02582 22.3224 8.02582ZM6.67511 34.6469H26.89C27.6199 34.6469 28.2141 34.0527 28.2141 33.3228V9.58832H22.3224C21.152 9.58832 20.1999 8.63617 20.1999 7.46582V1.5625H6.67511C5.94482 1.5625 5.35065 2.15668 5.35065 2.88666V23.4375C5.35065 23.869 5.00092 24.2188 4.5694 24.2188C4.13818 24.2188 3.78815 23.869 3.78815 23.4375V5.85327H2.80151C2.24762 5.85327 1.79688 6.30402 1.79688 6.85852V36.0757C1.79688 37.3779 2.85645 38.4375 4.15863 38.4375H22.0938C22.6477 38.4375 23.0984 37.9868 23.0984 37.4329V36.2094H6.67511C5.08331 36.2094 3.78815 34.9146 3.78815 33.3228V29.6875C3.78815 29.256 4.13818 28.9062 4.5694 28.9062C5.00092 28.9062 5.35065 29.256 5.35065 29.6875V33.3228C5.35065 34.0527 5.94482 34.6469 6.67511 34.6469ZM17.8888 11.1319H9.53613C9.10461 11.1319 8.75488 10.7822 8.75488 10.3506C8.75488 9.91913 9.10461 9.5694 9.53613 9.5694H17.8888C18.32 9.5694 18.67 9.91913 18.67 10.3506C18.67 10.7822 18.32 11.1319 17.8888 11.1319ZM21.7844 16.0315H9.53613C9.10461 16.0315 8.75488 16.3812 8.75488 16.8127C8.75488 17.2443 9.10461 17.594 9.53613 17.594H21.7844C22.2159 17.594 22.5656 17.2443 22.5656 16.8127C22.5656 16.3812 22.2159 16.0315 21.7844 16.0315ZM9.53613 22.4936H21.7844C22.2159 22.4936 22.5656 22.8433 22.5656 23.2748C22.5656 23.7064 22.2159 24.0561 21.7844 24.0561H9.53613C9.10461 24.0561 8.75488 23.7064 8.75488 23.2748C8.75488 22.8433 9.10461 22.4936 9.53613 22.4936ZM21.7844 28.9554H9.53613C9.10461 28.9554 8.75488 29.3051 8.75488 29.7366C8.75488 30.1682 9.10461 30.5179 9.53613 30.5179H21.7844C22.2159 30.5179 22.5656 30.1682 22.5656 29.7366C22.5656 29.3051 22.2159 28.9554 21.7844 28.9554ZM3.78906 26.5643C3.78906 26.1331 4.13879 25.7822 4.57031 25.7822C5.00153 25.7822 5.35156 26.131 5.35156 26.5625V26.5643C5.35156 26.9958 5.00153 27.3456 4.57031 27.3456C4.13879 27.3456 3.78906 26.9958 3.78906 26.5643Z" fill="#FAE41E"/>
                  </svg>
                </div>
                <p class="taxi-text">Сообщу о результатах работы таксопарка</p>
                <div class="animate-circle"></div>
                <div class="taxi-hover">
                  <h3 class="taxi-hover-name">Сообщу о результатах работы таксопарка</h3>
                  <p class="taxi-hover-text">Прибыль, расходы, собранные аренды и залоги, количество выполненных заказов, простаивающие авто, должники и т.д...</p>
                </div>
              </div>
              <div class="taxi-item">
                <div class="taxi-icon-block">
                  <svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1406 0C6.09363 0 0.984375 1.34186 0.984375 3.90625V28.2812C0.984375 30.8456 6.09363 32.1875 11.1406 32.1875C11.2929 32.1875 11.444 32.186 11.5935 32.1838C12.9695 36.7993 17.2234 40 22.0781 40C28.109 40 33.0156 35.0934 33.0156 29.0625C33.0156 23.0316 28.109 18.125 22.0781 18.125C21.816 18.125 21.5529 18.1354 21.2902 18.154C21.2908 17.641 21.2941 9.89838 21.2944 8.89191L21.2953 8.87347V8.87345C21.2961 8.85826 21.2969 8.84311 21.2969 8.82812C21.2969 8.81857 21.2963 8.80926 21.2957 8.79996L21.2947 8.78326L21.2969 3.90656V3.90625C21.2969 1.34186 16.1876 0 11.1406 0ZM11.6707 25.6979C11.4913 25.7013 11.314 25.7031 11.1406 25.7031C8.71844 25.7031 6.4519 25.3922 4.75879 24.8279C3.00922 24.2447 2.54688 23.6124 2.54688 23.3594V20.6204C4.44415 21.7578 7.80566 22.3438 11.1406 22.3438C11.9496 22.3438 12.7541 22.3096 13.5326 22.2433C12.7117 23.2733 12.0763 24.4479 11.6707 25.6979ZM15.3582 20.4346C14.0694 20.6607 12.6168 20.7812 11.1406 20.7812C8.71844 20.7812 6.4519 20.4703 4.75879 19.906C3.00922 19.3228 2.54688 18.6905 2.54688 18.4375V15.9396C2.98328 16.1996 3.44958 16.4078 3.92841 16.5829C5.20282 17.0609 7.5368 17.4789 8.02112 17.4789C8.41266 17.4789 8.75049 17.1854 8.79626 16.7874C8.84601 16.3586 8.53839 15.9711 8.10992 15.9216C8.08565 15.9177 8.03774 15.9115 7.96949 15.9027C7.33504 15.8207 4.94235 15.5116 3.42609 14.6445C2.81123 14.2952 2.69242 14.0736 2.5841 13.8716C2.57457 13.8538 2.56512 13.8362 2.55542 13.8187C2.55461 13.8143 2.55387 13.8105 2.55319 13.8069C2.55219 13.8018 2.55131 13.7973 2.55055 13.7927C2.54509 13.7604 2.54524 13.727 2.54639 13.4561C2.54778 13.1284 2.55065 12.453 2.54688 11.011C4.44415 12.1484 7.80566 12.7344 11.1406 12.7344C13.694 12.7344 16.1138 12.4023 17.954 11.7996C18.6931 11.5576 19.2824 11.293 19.739 11.0202C19.738 12.4414 19.7379 13.1352 19.7378 13.4746C19.7377 13.7971 19.7377 13.7993 19.7372 13.8013L19.7371 13.8019C19.7057 13.9484 19.5818 14.0906 19.475 14.1956C19.4748 14.1956 19.4738 14.1965 19.472 14.1982L19.4697 14.2004C19.3788 14.2854 18.1101 15.473 14.1808 15.9204L14.1713 15.9216C13.7426 15.9711 13.4352 16.3586 13.4847 16.7874C13.5308 17.1854 13.8683 17.4789 14.2598 17.4789C15.1964 17.4789 18.261 16.8188 19.7365 15.9433L19.7353 18.3789C18.1484 18.7274 16.6454 19.4302 15.3582 20.4346ZM19.7399 8.85498C19.713 9.11835 19.2034 9.7464 17.4675 10.3149C15.7802 10.8676 13.5332 11.1719 11.1406 11.1719C8.71844 11.1719 6.4519 10.8609 4.75879 10.2966C3.00922 9.71344 2.54688 9.08112 2.54688 8.82812V6.08917C4.44415 7.22656 7.80566 7.8125 11.1406 7.8125C14.475 7.8125 17.8438 7.22656 19.7411 6.08978L19.7399 8.85498ZM4.75879 2.43774C6.4519 1.87347 8.71844 1.5625 11.1406 1.5625C13.5628 1.5625 15.8293 1.87347 17.5225 2.43774C19.272 3.02094 19.7344 3.65326 19.7344 3.90625C19.7344 4.15924 19.272 4.79156 17.5225 5.37476C15.8293 5.93903 13.5628 6.25 11.1406 6.25C8.71844 6.25 6.4519 5.93903 4.75879 5.37476C3.00922 4.79156 2.54688 4.15924 2.54688 3.90625C2.54688 3.65326 3.00922 3.02094 4.75879 2.43774ZM4.75879 29.7498C3.00922 29.1666 2.54688 28.5342 2.54688 28.2812V25.5423C4.44415 26.6797 7.80566 27.2656 11.1406 27.2656C11.165 27.2656 11.1895 27.2655 11.2141 27.2653H11.2142C11.2285 27.2652 11.2428 27.2651 11.2571 27.2651C11.2675 27.265 11.2779 27.265 11.2883 27.265C11.1907 27.8564 11.1406 28.4579 11.1406 29.0625C11.1406 29.5868 11.1779 30.1093 11.2517 30.6244L11.2029 30.6248L11.1406 30.625C8.71844 30.625 6.4519 30.314 4.75879 29.7498ZM31.4531 29.0625C31.4531 34.2319 27.2475 38.4375 22.0781 38.4375C17.6998 38.4375 13.9461 35.4648 12.9497 31.2085C12.9491 31.2064 12.9488 31.2045 12.9485 31.2024L12.9476 31.199C12.7855 30.5042 12.7031 29.7855 12.7031 29.0625C12.7031 28.2529 12.806 27.4506 13.0089 26.6779C14.0544 22.6904 17.6931 19.6875 22.0781 19.6875C27.2475 19.6875 31.4531 23.8931 31.4531 29.0625ZM11.1406 16.0938C10.7134 16.0938 10.3655 16.4374 10.3594 16.864V16.875C10.3594 17.3062 10.7094 17.6562 11.1406 17.6562C11.5718 17.6562 11.9219 17.3062 11.9219 16.875V16.864C11.9158 16.4374 11.5679 16.0938 11.1406 16.0938ZM22.0781 29.8438C20.7857 29.8438 19.7344 28.7924 19.7344 27.5C19.7344 26.4816 20.3874 25.6131 21.2969 25.2905V24.375C21.2969 23.9435 21.6466 23.5938 22.0781 23.5938C22.5096 23.5938 22.8594 23.9435 22.8594 24.375V25.285C23.2164 25.4034 23.6131 25.6204 24.0096 26.0043C24.3196 26.3043 24.3279 26.7987 24.0279 27.1091C23.7279 27.4188 23.2332 27.4271 22.9231 27.1271C22.647 26.86 22.3549 26.7188 22.0781 26.7188C21.6472 26.7188 21.2969 27.0691 21.2969 27.5C21.2969 27.9309 21.6472 28.2812 22.0781 28.2812C23.3705 28.2812 24.4219 29.3326 24.4219 30.625C24.4219 31.6434 23.7688 32.5119 22.8594 32.8345V33.75C22.8594 34.1815 22.5096 34.5312 22.0781 34.5312C21.6466 34.5312 21.2969 34.1815 21.2969 33.75V32.8381C20.7765 32.6639 20.2852 32.3175 19.8677 31.8207C19.59 31.4905 19.6324 30.9976 19.9629 30.7199C20.2931 30.4422 20.786 30.4849 21.0637 30.8154C21.3838 31.1963 21.7442 31.4062 22.0781 31.4062C22.509 31.4062 22.8594 31.0559 22.8594 30.625C22.8594 30.1941 22.509 29.8438 22.0781 29.8438Z" fill="#FAE41E"/>
                  </svg>
                </div>
                <p class="taxi-text">Исключу долги водителей!</p>
                <div class="animate-circle"></div>
                <div class="taxi-hover">
                  <h3 class="taxi-hover-name">Исключу долги водителей!</h3>
                  <p class="taxi-hover-text">Отслежу водителей-должников и заблокирую автомобиль! Разблокирую - как только он загасит задолженность перед таксопарком!</p>
                </div>
              </div>
              <div class="taxi-item">
                <div class="taxi-icon-block">
                  <svg width="40" height="36" viewBox="0 0 40 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31.4313 0.338203L39.7712 8.67805C39.9177 8.82453 40 9.02328 40 9.23047V35.1094C40 35.5409 39.6502 35.8906 39.2188 35.8906H0.78125C0.349844 35.8906 0 35.5409 0 35.1094V0.890625C0 0.459141 0.349844 0.109375 0.78125 0.109375H30.8594H30.8789C31.0861 0.109375 31.2848 0.191719 31.4313 0.338203ZM30.0781 1.67188H9.92188V13.2348H30.0781V1.67188ZM35.7812 34.3281H38.4375V9.55414L31.6406 2.75727V14.0161C31.6406 14.4476 31.2908 14.7973 30.8594 14.7973H9.14062C8.70922 14.7973 8.35938 14.4476 8.35938 14.0161V1.67188H1.5625V34.3281H4.21875V20.1094C4.21875 19.6779 4.56859 19.3281 5 19.3281H17.3698C17.8012 19.3281 18.151 19.6779 18.151 20.1094C18.151 20.5409 17.8012 20.8906 17.3698 20.8906H5.78125V34.3281H34.2188V20.8906H22.6302C22.1988 20.8906 21.849 20.5409 21.849 20.1094C21.849 19.6779 22.1988 19.3281 22.6302 19.3281H35C35.4314 19.3281 35.7812 19.6779 35.7812 20.1094V34.3281ZM19.9939 19.3281H20.0072C20.4386 19.3281 20.7884 19.6779 20.7884 20.1094C20.7884 20.5409 20.4386 20.8906 20.0072 20.8906H19.9939C19.5625 20.8906 19.2126 20.5409 19.2126 20.1094C19.2126 19.6779 19.5625 19.3281 19.9939 19.3281ZM29.375 23.5469H10.625C10.1936 23.5469 9.84375 23.8966 9.84375 24.3281C9.84375 24.7596 10.1936 25.1094 10.625 25.1094H29.375C29.8064 25.1094 30.1562 24.7596 30.1562 24.3281C30.1562 23.8966 29.8064 23.5469 29.375 23.5469ZM25.5432 26.6719H29.3751C29.8065 26.6719 30.1563 27.0216 30.1563 27.4531C30.1563 27.8846 29.8065 28.2344 29.3751 28.2344H25.5432C25.1118 28.2344 24.762 27.8846 24.762 27.4531C24.762 27.0216 25.1118 26.6719 25.5432 26.6719ZM22.9778 26.6719H22.9675C22.5361 26.6719 22.1863 27.0216 22.1863 27.4531C22.1863 27.8846 22.5361 28.2344 22.9675 28.2344H22.9778C23.4092 28.2344 23.759 27.8846 23.759 27.4531C23.759 27.0216 23.4092 26.6719 22.9778 26.6719ZM10.625 26.6719H20.4464C20.8778 26.6719 21.2277 27.0216 21.2277 27.4531C21.2277 27.8846 20.8778 28.2344 20.4464 28.2344H10.625C10.1936 28.2344 9.84375 27.8846 9.84375 27.4531C9.84375 27.0216 10.1936 26.6719 10.625 26.6719ZM29.375 29.7969H10.625C10.1936 29.7969 9.84375 30.1466 9.84375 30.5781C9.84375 31.0096 10.1936 31.3594 10.625 31.3594H29.375C29.8064 31.3594 30.1562 31.0096 30.1562 30.5781C30.1562 30.1466 29.8064 29.7969 29.375 29.7969ZM25.2344 2.76578H28.3594C28.7908 2.76578 29.1406 3.11554 29.1406 3.54703V11.3595C29.1406 11.791 28.7908 12.1408 28.3594 12.1408H25.2344C24.803 12.1408 24.4531 11.791 24.4531 11.3595V3.54703C24.4531 3.11554 24.803 2.76578 25.2344 2.76578ZM26.0156 10.5783H27.5781V4.32828H26.0156V10.5783Z" fill="#FAE41E"/>
                  </svg>
                </div>
                <p class="taxi-text">Сохраню все события для истории!</p>
                <div class="animate-circle"></div>
                <div class="taxi-hover">
                  <h3 class="taxi-hover-name">Сохраню все события для истории!</h3>
                  <p class="taxi-hover-text">Всё, что происходит с водителем или автомобилем, буду помещать в СРМ систему: штрафы, ТО, фото-контроль, назначения водителей на борт и ещё много всего.....</p>
                </div>
              </div>
              <div class="taxi-item">
                <div class="taxi-icon-block">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.7321 7.65131H36.968C37.3991 7.65131 37.7487 7.30169 37.7487 6.87057C37.7487 6.43945 37.3991 6.08983 36.968 6.08983H34.0012C33.5701 6.08983 33.2205 6.43945 33.2205 6.87057V9.83737C33.2205 10.2685 33.5701 10.6181 34.0012 10.6181C34.4323 10.6181 34.7819 10.2685 34.7819 9.83737V8.97833C37.1509 12.1498 38.4385 15.9978 38.4385 20C38.4385 30.1671 30.1671 38.4385 20 38.4385C9.83292 38.4385 1.56148 30.1671 1.56148 20C1.56148 9.83292 9.83292 1.56148 20 1.56148C20.7519 1.56148 21.5087 1.60715 22.2495 1.69717C22.6769 1.74885 23.0667 1.44444 23.1187 1.01636C23.1708 0.588364 22.866 0.199088 22.4379 0.147091C21.6349 0.0494988 20.8147 0 20 0C14.6578 0 9.63532 2.08035 5.85787 5.85787C2.08035 9.63532 0 14.6578 0 20C0 25.3422 2.08035 30.3647 5.85787 34.1421C9.63532 37.9196 14.6578 40 20 40C25.3422 40 30.3647 37.9196 34.1421 34.1421C37.9196 30.3647 40 25.3422 40 20C40 15.4919 38.494 11.1642 35.7321 7.65131ZM8.46797 11.7901C8.1036 11.5595 7.62134 11.668 7.39063 12.0322C5.60829 14.8472 4.81927 18.2326 5.16897 21.5649C5.52381 24.9466 7.04586 28.1356 9.45475 30.5446C12.3618 33.4516 16.1805 34.9052 19.9992 34.9052C23.818 34.9052 27.6366 33.4517 30.5437 30.5446C36.358 24.7303 36.358 15.2698 30.5437 9.45566C28.1385 7.05052 24.9547 5.52902 21.5787 5.17144C18.2526 4.81894 14.8708 5.60178 12.0569 7.37538C11.6921 7.60531 11.5829 8.08742 11.8127 8.45218C12.0427 8.81702 12.5248 8.92624 12.8895 8.69639C18.1937 5.35327 24.9992 6.11941 29.4395 10.5598C34.6449 15.7652 34.6449 24.2349 29.4395 29.4404C24.2342 34.6459 15.7643 34.6459 10.5589 29.4404C6.17994 25.0614 5.40233 18.0915 8.71 12.8676C8.94055 12.5032 8.83227 12.0209 8.46797 11.7901ZM31.1124 20.7933H30.1496C29.7184 20.7933 29.3689 20.4437 29.3689 20.0126C29.3689 19.5815 29.7185 19.2319 30.1496 19.2319H31.1124C31.5436 19.2319 31.8932 19.5815 31.8932 20.0126C31.8932 20.4437 31.5436 20.7933 31.1124 20.7933ZM8.10547 19.9873C8.10547 20.4184 8.45508 20.768 8.8862 20.768H9.84901C10.2801 20.768 10.6297 20.4184 10.6297 19.9873C10.6297 19.5562 10.2801 19.2065 9.84901 19.2065H8.8862C8.45508 19.2065 8.10547 19.5561 8.10547 19.9873ZM20.7936 8.88758V9.85038C20.7936 10.2815 20.444 10.6311 20.0129 10.6311C19.5818 10.6311 19.2322 10.2815 19.2322 9.85038V8.88758C19.2322 8.45646 19.5818 8.10684 20.0129 8.10684C20.444 8.10684 20.7936 8.45646 20.7936 8.88758ZM19.2078 30.1496V31.1124C19.2078 31.5436 19.5574 31.8932 19.9885 31.8932C20.4196 31.8932 20.7692 31.5436 20.7692 31.1124V30.1496C20.7692 29.7185 20.4196 29.3689 19.9885 29.3689C19.5574 29.3689 19.2078 29.7184 19.2078 30.1496ZM14.9833 14.9825C15.2883 14.6777 15.7825 14.6777 16.0875 14.9825L18.7335 17.6285C19.1114 17.4258 19.5429 17.3105 20.0009 17.3105C20.4588 17.3105 20.8904 17.4258 21.2682 17.6285L26.6072 12.2896C26.9122 11.9848 27.4064 11.9848 27.7113 12.2896C28.0162 12.5946 28.0162 13.0889 27.7113 13.3938L22.3724 18.7327C22.5751 19.1106 22.6905 19.5421 22.6905 20.0001C22.6905 21.4832 21.484 22.6897 20.0009 22.6897C18.5178 22.6897 17.3112 21.4832 17.3112 20.0001C17.3112 19.5421 17.4265 19.1106 17.6293 18.7327L14.9833 16.0867C14.6784 15.7818 14.6784 15.2874 14.9833 14.9825ZM20.0009 21.1283C20.623 21.1283 21.129 20.6222 21.129 20.0001C21.129 19.378 20.623 18.8719 20.0009 18.8719C19.3788 18.8719 18.8727 19.378 18.8727 20.0001C18.8727 20.6222 19.3788 21.1283 20.0009 21.1283ZM10.56 10.5594C10.706 10.4142 10.7895 10.2128 10.7895 10.0074C10.7895 9.80209 10.706 9.60144 10.56 9.45544C10.4148 9.3103 10.2141 9.22668 10.008 9.22668C9.80269 9.22668 9.60127 9.31022 9.45605 9.45544C9.31091 9.60066 9.22729 9.80209 9.22729 10.0074C9.22729 10.2135 9.31083 10.4142 9.45605 10.5594C9.60127 10.7045 9.80269 10.7882 10.008 10.7882C10.2141 10.7882 10.4148 10.7045 10.56 10.5594ZM25.9612 2.1039C25.816 2.24982 25.6146 2.33265 25.4084 2.33265C25.2031 2.33265 25.0017 2.24982 24.8565 2.1039C24.7112 1.95868 24.6277 1.75803 24.6277 1.55192C24.6277 1.34658 24.7113 1.14515 24.8565 0.999935C25.0017 0.854718 25.2031 0.771179 25.4084 0.771179C25.6146 0.771179 25.816 0.854796 25.9612 0.999935C26.1065 1.14515 26.19 1.34658 26.19 1.55192C26.19 1.75795 26.1064 1.95868 25.9612 2.1039Z" fill="#FAE41E"/>
                  </svg>
                </div>
                <p class="taxi-text">Отслежу сроки страховых полисов</p>
                <div class="animate-circle"></div>
                <div class="taxi-hover">
                  <h3 class="taxi-hover-name">Отслежу сроки страховых полисов</h3>
                  <p class="taxi-hover-text">Заранее напомню о необходимости продления страховых полисов и диагностических карт!</p>
                </div>
              </div>
              <div class="taxi-item">
                <div class="taxi-icon-block">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M37.5169 5.13706C39.3119 8.07713 40.0779 10.7322 40.0779 14.0153C40.0779 17.9752 37.8498 21.424 34.582 23.1754C34.9723 24.0119 35.1771 24.9278 35.1771 25.8601V31.0411C35.6004 31.3768 35.8726 31.895 35.8726 32.476V33.5499C35.8726 34.5595 35.0514 35.381 34.0415 35.381H32.1156V37.4446C32.1156 38.8536 30.9693 40.0001 29.56 40.0001H28.6555C27.2465 40.0001 26.1002 38.8536 26.1002 37.4446V35.381H21.4915C21.0602 35.381 20.7102 35.0313 20.7102 34.5997C20.7102 34.1685 21.0602 33.8185 21.4915 33.8185H34.0415C34.1896 33.8185 34.3101 33.6982 34.3101 33.5499V32.476C34.3101 32.328 34.1899 32.2075 34.0415 32.2075H1.90919C1.76117 32.2075 1.64063 32.328 1.64063 32.476V33.5499C1.64063 33.6979 1.76117 33.8185 1.90919 33.8185H14.4602C14.8917 33.8185 15.2414 34.1685 15.2414 34.5997C15.2414 35.0313 14.8917 35.381 14.4602 35.381H9.85049V37.4446C9.85049 38.8536 8.70425 40.0001 7.29525 40.0001H6.39071C4.9817 40.0001 3.83516 38.8536 3.83516 37.4446V35.381H1.90919C0.899661 35.381 0.078125 34.5598 0.078125 33.5499V32.476C0.078125 31.895 0.350343 31.3768 0.773928 31.0411V25.8598C0.773928 23.9073 1.66077 22.1586 3.05207 20.9931C2.46735 20.8189 1.98456 20.3748 1.77521 19.7797L1.31684 18.4776C1.1081 17.8852 1.20026 17.2254 1.56342 16.713C1.92628 16.2003 2.51801 15.8945 3.14607 15.8945H5.5884L6.60616 11.7502C7.13381 9.6021 9.04727 8.10185 11.2592 8.10185H21.0371C21.2446 7.4387 21.4149 6.65409 21.5064 5.63694C21.5647 4.99332 22.006 4.46933 22.6307 4.30209C23.2499 4.13669 23.888 4.36771 24.2564 4.89139C24.892 5.79563 25.3098 6.71116 25.5811 7.56413C26.0011 6.81187 26.5751 6.05656 27.36 5.40531C28.7309 4.2673 29.0327 3.0234 28.3689 1.24575C28.2356 0.887778 28.3329 0.491963 28.6167 0.236836C28.9005 -0.0179869 29.3037 -0.0720031 29.6443 0.0982854C33.2615 1.9092 34.2778 4.81754 34.4929 6.93821L34.4966 6.97453C34.5936 6.60008 34.6681 6.2006 34.7087 5.77976C34.7724 5.11814 35.2311 4.59476 35.8778 4.44583C36.526 4.2963 37.1696 4.5679 37.5169 5.13706ZM8.28829 37.4446V35.3813H5.39797V37.4446C5.39797 37.9924 5.84322 38.4376 6.39071 38.4376H7.29525C7.84304 38.4376 8.28829 37.9924 8.28829 37.4446ZM29.56 38.4376C30.1075 38.4376 30.5531 37.9924 30.5531 37.4446V35.3813H27.6624V37.4446C27.6624 37.9924 28.108 38.4376 28.6555 38.4376H29.56ZM16.0978 19.5127H20.8848C20.2381 18.4803 19.7672 17.327 19.5157 16.0947L16.0978 19.5127ZM19.3067 14.0153C19.3067 12.1033 19.8014 11.0206 20.3251 9.87462C20.3446 9.83194 20.3641 9.78925 20.3837 9.74636C20.3961 9.71903 20.4086 9.69161 20.4212 9.66405H18.9063L9.05826 19.5124H13.888L19.3076 14.0928C19.3075 14.0843 19.3074 14.0758 19.3072 14.0673C19.307 14.05 19.3067 14.0326 19.3067 14.0153ZM11.2592 9.66435C9.7684 9.66435 8.47903 10.6754 8.1238 12.1229L6.29488 19.5683C6.47493 19.5448 6.65682 19.5277 6.84115 19.5197L16.6965 9.66435H11.2592ZM3.14607 17.457C2.97639 17.457 2.88056 17.5568 2.83845 17.616C2.79633 17.6755 2.73438 17.7988 2.79054 17.9588L3.24891 19.2609C3.30201 19.4114 3.44483 19.5127 3.60444 19.5127H4.70003L5.20479 17.457H3.14607ZM33.6146 30.6449V25.8601C33.6146 25.146 33.4559 24.4453 33.1529 23.8075C32.5428 24.0235 31.9068 24.185 31.2507 24.2842C31.5342 24.7428 31.6981 25.2824 31.6981 25.8601C31.6981 27.5184 30.3489 28.8679 28.6903 28.8679C27.0319 28.8679 25.6828 27.5184 25.6828 25.8601C25.6828 25.1005 25.9663 24.4062 26.4323 23.8764C24.7523 23.3195 23.2612 22.3444 22.0826 21.0752H7.1213C4.48305 21.0752 2.33643 23.2215 2.33643 25.8601V30.6449H33.6146ZM27.0628 18.6942C26.879 19.0833 26.786 19.4999 26.786 19.9323C26.786 21.5348 28.0897 22.8382 29.6922 22.8382C31.2947 22.8382 32.5984 21.5345 32.5984 19.932C32.5984 19.5408 32.5221 19.1611 32.3713 18.8041L32.3677 18.7955C32.2932 18.621 32.2007 18.4522 32.0921 18.2935C32.0811 18.2777 32.071 18.2612 32.0613 18.2447C31.9357 18.0285 31.8005 17.8056 31.6694 17.5893L31.6603 17.5742C31.0768 16.6132 30.4402 15.5643 30.2293 14.4144C29.6253 15.0877 29.3491 15.9214 29.4212 16.1793C29.5335 16.5827 29.3076 17.0032 28.9088 17.1323C28.5099 17.2614 28.0808 17.0527 27.9356 16.6596C27.8898 16.5354 27.8388 16.4234 27.7839 16.3224C27.7601 16.9135 27.6289 17.5907 27.2883 18.2886C27.2749 18.3158 27.2602 18.3424 27.244 18.3677C27.1769 18.4721 27.1171 18.5795 27.0661 18.6869L27.0628 18.6942ZM30.1356 25.8601C30.1356 25.0633 29.4874 24.4148 28.6903 24.4148C27.8935 24.4148 27.2453 25.0633 27.2453 25.8601C27.2453 26.6569 27.8935 27.3054 28.6903 27.3054C29.4874 27.3054 30.1356 26.6569 30.1356 25.8601ZM34.1609 19.9323C34.1609 20.6236 34.0031 21.2785 33.7217 21.8632C36.566 20.3971 38.5154 17.4296 38.5154 14.0156C38.5154 11.0416 37.8578 8.72807 36.2504 6.06174C35.8976 9.23314 33.9967 11.2873 33.9146 11.3743C33.6628 11.6422 33.2579 11.6981 32.9429 11.5082C32.6277 11.3184 32.4876 10.9345 32.6063 10.5866C32.6112 10.5723 33.141 8.96855 32.9328 7.0438C32.7168 5.04459 31.8104 3.44791 30.2323 2.27999C30.4362 3.9722 29.8155 5.39768 28.3579 6.6077C26.6358 8.03685 26.1698 10.1496 26.0453 11.0776C26.0279 11.4115 25.9965 11.615 25.9913 11.6477C25.9254 12.0536 25.5561 12.3386 25.1472 12.3005C24.7376 12.2623 24.4282 11.9132 24.4392 11.5021C24.4398 11.4692 24.4465 11.2736 24.4846 10.9635C24.5234 10.0709 24.4413 7.94102 23.0515 5.89664C22.8324 8.14732 22.2559 9.40892 21.7463 10.524C21.2562 11.5964 20.8692 12.4433 20.8692 14.0153C20.8692 17.4296 22.8184 20.3971 25.6626 21.8632C25.3812 21.2785 25.2235 20.6236 25.2235 19.9323C25.2235 19.2762 25.3632 18.6433 25.6385 18.0506C25.6449 18.036 25.6519 18.0213 25.6593 18.0067C25.7307 17.8577 25.8122 17.71 25.9019 17.5666C26.5415 16.2159 26.0493 14.9976 26.0279 14.946C25.9171 14.6909 25.9519 14.3986 26.1167 14.1746C26.2818 13.9509 26.5537 13.8337 26.8308 13.8639C26.8772 13.8688 27.5785 13.9533 28.281 14.5154C28.7699 13.5483 29.6452 12.616 30.7362 12.1891C31.0066 12.0832 31.3127 12.136 31.5321 12.3255C31.7515 12.5153 31.8476 12.8107 31.782 13.0933C31.5016 14.3018 32.2273 15.4975 32.996 16.7637L32.9975 16.7661C33.1301 16.9847 33.2669 17.2104 33.3985 17.436C33.5554 17.6685 33.6903 17.9157 33.7998 18.1712C33.8015 18.1746 33.803 18.178 33.8044 18.1814C33.805 18.1828 33.8056 18.1843 33.8063 18.1858C34.0415 18.7394 34.1609 19.3272 34.1609 19.9323ZM4.25293 25.86C4.25293 24.2017 5.60212 22.8522 7.26045 22.8522C8.91908 22.8522 10.2683 24.2017 10.2683 25.86C10.2683 27.5183 8.91878 28.8678 7.26045 28.8678C5.60212 28.8678 4.25293 27.5183 4.25293 25.86ZM5.81513 25.86C5.81513 26.6568 6.46363 27.3053 7.26045 27.3053C8.05757 27.3053 8.70576 26.6568 8.70576 25.86C8.70576 25.0632 8.05726 24.4147 7.26045 24.4147C6.46363 24.4147 5.81513 25.0632 5.81513 25.86ZM22.0405 23.4088C22.7375 23.4088 23.3329 23.8834 23.4885 24.5627L23.9311 26.4935C24.0327 26.937 23.9283 27.3953 23.6448 27.7512C23.3616 28.107 22.938 28.3112 22.483 28.3112H13.4665C13.0118 28.3112 12.5882 28.107 12.3047 27.7512C12.0212 27.3953 11.9169 26.937 12.0185 26.4935L12.461 24.5627C12.6169 23.8831 13.2123 23.4088 13.9094 23.4088H22.0405ZM13.9704 24.9713L13.563 26.7487H22.3866L21.9795 24.9713H13.9704ZM17.9756 33.8192C17.7702 33.8192 17.5688 33.9019 17.4235 34.0481C17.2783 34.1934 17.1943 34.3942 17.1943 34.6005C17.1943 34.8059 17.278 35.0073 17.4235 35.1525C17.5694 35.2978 17.7702 35.3817 17.9756 35.3817C18.1813 35.3817 18.3827 35.2981 18.5289 35.1525C18.6741 35.0067 18.7578 34.8059 18.7578 34.6005C18.7578 34.3948 18.6741 34.1934 18.5289 34.0481C18.3827 33.9019 18.1813 33.8192 17.9756 33.8192Z" fill="#FBE51E"/>
                  </svg>
                </div>
                <p class="taxi-text">Оповещу о нештатной ситуации с автомобилем</p>
                <div class="animate-circle"></div>
                <div class="taxi-hover">
                  <h3 class="taxi-hover-name">Оповещу о нештатной ситуации с автомобилем</h3>
                  <p class="taxi-hover-text">Превышение скорости, выезде из разрешенной области, переработка водителей, передвижение без назначенного водителя!</p>
                </div>
              </div>
              <div class="taxi-item">
                <div class="taxi-icon-block">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M38.4108 5.01686C38.6016 4.8246 38.8793 4.74495 39.1435 4.80629C39.4076 4.86733 39.6214 5.06111 39.7079 5.31777C39.9788 6.11977 40.1161 6.959 40.1161 7.81258C40.1161 12.1201 36.6049 15.6248 32.2886 15.6248C31.5997 15.6248 30.9197 15.5357 30.2607 15.3599L25.6252 19.9864L26.7752 21.0398L27.2568 20.5589C27.5629 20.2537 28.0583 20.2537 28.364 20.5589C28.6698 20.864 28.6698 21.3587 28.364 21.6636L27.9298 22.097L38.7166 31.9737C38.7249 31.9813 38.7331 31.9889 38.7411 31.9969C40.5714 33.8246 40.5714 36.7985 38.7411 38.6262C36.9055 40.4582 33.9331 40.4576 32.0984 38.6265C32.0908 38.6189 32.0832 38.6112 32.0758 38.6033L22.1608 27.8544L21.7217 28.2926C21.4157 28.5975 20.9203 28.5975 20.6145 28.2926C20.3088 27.9875 20.3088 27.4928 20.6145 27.1876L21.0995 26.7039L20.0427 25.5583L15.4295 30.1624C16.0448 32.4339 15.6145 34.8081 14.2199 36.7457C12.7314 38.8133 10.4161 39.9992 7.86655 39.9992C7.0116 39.9992 6.17042 39.8622 5.36716 39.5918C5.11 39.5054 4.91584 39.2921 4.85468 39.0284C4.79322 38.7644 4.87303 38.4876 5.06567 38.2969L8.33621 35.0584V33.4971L6.55386 31.7182H4.98953L1.74466 34.9824C1.55356 35.1747 1.27622 35.2543 1.01173 35.193C0.747539 35.1319 0.533803 34.9381 0.44727 34.6815C0.176355 33.8798 0.0390625 33.0403 0.0390625 32.187C0.0390625 29.6424 1.22699 27.3313 3.2986 25.846C5.23996 24.4541 7.61918 24.0247 9.89504 24.6388L15.639 18.906L6.03191 9.29665L4.14284 9.29604C3.86795 9.29573 3.61324 9.152 3.47198 8.91671L0.151281 3.39272C-0.0334057 3.0851 0.0152122 2.69173 0.269004 2.43812L2.4828 0.228956C2.73659 -0.0246451 3.13073 -0.0731681 3.43895 0.111463L8.97375 3.42629C9.2095 3.56728 9.35383 3.82179 9.35383 4.09615V5.98213L18.96 15.5915L24.726 9.83681C24.1104 7.56539 24.54 5.19203 25.9338 3.25539C27.4229 1.1866 29.7391 7.41205e-05 32.2886 7.41205e-05C33.1439 7.41205e-05 33.9848 0.137098 34.7883 0.407484C35.044 0.493544 35.2372 0.704725 35.2996 0.966567C35.3623 1.22871 35.2852 1.50429 35.0959 1.69594L31.8972 4.93599V6.51039L33.6099 8.28133H35.1657L38.4108 5.01686ZM6.35694 7.74208C6.56487 7.74208 6.76393 7.81685 6.9107 7.96364L16.7459 17.8013L17.8531 16.6966L8.01699 6.85738C7.87052 6.71089 7.78827 6.51253 7.78827 6.30562V4.53865L3.15764 1.76521L1.80827 3.11195L4.58652 7.74147L6.35694 7.74208ZM37.6452 33.1129L26.8217 23.2029L23.2686 26.7484L33.216 37.5324C34.4404 38.7425 36.4144 38.7388 37.6339 37.5218C38.8505 36.3069 38.8542 34.3324 37.6452 33.1129ZM22.2073 25.5979L25.6671 22.1455L24.5171 21.092L21.1505 24.4523L22.2073 25.5979ZM30.288 13.7367C30.9307 13.9527 31.604 14.0623 32.2886 14.0623C35.7414 14.0623 38.5506 11.2586 38.5506 7.81258C38.5506 7.584 38.5383 7.35665 38.5139 7.13143L36.0472 9.61251C35.9001 9.76052 35.7001 9.84352 35.4916 9.84352H33.2772C33.0647 9.84352 32.8614 9.75747 32.714 9.60488L30.5512 7.36824C30.4103 7.22267 30.3317 7.02828 30.3317 6.82564V4.61556C30.3317 4.41048 30.4124 4.21364 30.5567 4.06746L32.9913 1.60133C32.7589 1.5757 32.5244 1.56258 32.2883 1.56258C30.2491 1.56258 28.3965 2.51167 27.2052 4.16695C26.0123 5.82436 25.7017 7.88063 26.3527 9.80904C26.4475 10.0904 26.3747 10.4008 26.1643 10.6107C26.1533 10.6217 10.7136 26.0316 10.6705 26.0743C10.4601 26.2843 10.1488 26.3572 9.86722 26.2623C7.93473 25.6126 5.87352 25.9236 4.21195 27.115C2.55466 28.303 1.60431 30.1515 1.60431 32.1867C1.60431 32.4153 1.61655 32.6426 1.64101 32.8678L4.10768 30.3864C4.25476 30.2387 4.45473 30.1554 4.66357 30.1554H6.87798C7.0856 30.1554 7.28466 30.2378 7.43143 30.3843L9.67244 32.6209C9.81921 32.7674 9.90177 32.9661 9.90177 33.1733V35.3834C9.90177 35.5918 9.8183 35.7914 9.6703 35.9379L7.18406 38.4001C7.40972 38.4242 7.63752 38.4367 7.86655 38.4367C9.90544 38.4367 11.7578 37.4879 12.9482 35.8341C14.1419 34.1755 14.4532 32.1186 13.8025 30.1902C13.7074 29.9088 13.7805 29.5982 13.9909 29.3882C16.1595 27.2236 20.9197 22.4728 24.9353 18.4651L29.4847 13.9246C29.6951 13.715 30.0063 13.6424 30.288 13.7367ZM27.1893 12.121C26.7572 12.121 26.4065 12.4701 26.4065 12.9019C26.4065 13.3334 26.7572 13.6832 27.1893 13.6832C27.6222 13.6832 27.972 13.3334 27.972 12.9019C27.972 12.4701 27.6222 12.121 27.1893 12.121ZM12.9659 26.3156C12.5329 26.3156 12.1831 26.6656 12.1831 27.0969C12.1831 27.529 12.5329 27.8781 12.9659 27.8781C13.3979 27.8781 13.7486 27.529 13.7486 27.0969C13.7486 26.6656 13.3979 26.3156 12.9659 26.3156ZM24.4203 14.559L14.6249 24.3353C14.3194 24.6402 14.3194 25.1349 14.6249 25.4401C14.9307 25.7452 15.4263 25.7452 15.7321 25.4401L25.5275 15.6638C25.8333 15.3589 25.8333 14.8642 25.5275 14.559C25.2217 14.2538 24.7261 14.2538 24.4203 14.559ZM35.4208 35.3107C35.1151 35.6168 34.6194 35.6168 34.3136 35.3125L27.2579 28.2932C26.9518 27.9886 26.9509 27.4942 27.2564 27.1885C27.5612 26.883 28.0572 26.8821 28.3633 27.1866L35.419 34.206C35.7251 34.5105 35.726 35.0052 35.4208 35.3107Z" fill="#FAE41E"/>
                  </svg>
                </div>
                <p class="taxi-text">Обеспечу своевременное тех.обслуживание автомобиля</p>
                <div class="animate-circle"></div>
                <div class="taxi-hover">
                  <h3 class="taxi-hover-name">Обеспечу своевременное тех.обслуживание автомобиля</h3>
                  <p class="taxi-hover-text">Отслежу пробег автомобиля и запишу на тех.обслуживание, проконтролирую его прохождение, а если будет перепробег - заблокирую автомобиль!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="menu-overaly"></div>
    <div class="menu">
      <button type="button" class="close-menu">
        <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.70703 8.08057L4.00003 5.87929L6.29303 8.08057L7.70703 6.72313L5.41403 4.52185L7.70703 2.32057L6.29303 0.963135L4.00003 3.16441L1.70703 0.963135L0.29303 2.32057L2.58603 4.52185L0.29303 6.72313L1.70703 8.08057Z" fill="#E6711C" fill-opacity="0.8"/>
        </svg>
      </button>
      <div class="menu-list">
        <button type="button" class="menu-list-btn" data-section-target="about">Подробнее про РоБот</button>
        <button type="button" class="menu-list-btn" data-section-target="modal">Подключить бесплатно</button>
        <button type="button" class="menu-list-btn" data-section-target="connect">Условия для подключения</button>
        <button type="button" class="menu-list-btn" data-section-target="steps">Этапи внедрения</button>
        <button type="button" class="menu-list-btn" data-section-target="price">Тарифы</button>
        <button type="button" class="menu-list-btn" data-section-target="recomend">Нас рекомендуют</button>
      </div>
    </div>
    <section class="section page" id="about">
      <div class="page-header">
        <h2 class="page-name">Подробнее про РоБот</h2>
        <button type="button" class="close-page">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 13L7 7L1 1" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <p class="page-text">Бот в Вайбере является уникальным продуктом и не имеет аналогов на рынке! Он объединяет в себе и автоматизирует работу нескольких независимых сервисов без которых трудно представить работу современного таксопарка:</p>
      <div class="about-row">
        <div class="about-icon">
          <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M32.704 24.0561C26.0589 24.0561 20.6526 18.66 20.6526 12.0278C20.6526 5.39569 26.0589 0 32.704 0C39.3491 0 44.7553 5.39569 44.7553 12.0278C44.7553 18.66 39.3491 24.0561 32.704 24.0561ZM32.704 21.869C38.141 21.869 42.5644 17.4543 42.5644 12.0278C42.5644 6.60181 38.141 2.18707 32.704 2.18707C27.2669 2.18707 22.8435 6.60181 22.8435 12.0278C22.8435 17.4543 27.2669 21.869 32.704 21.869ZM25.8399 36.4347C26.2675 36.8624 26.2675 37.5545 25.8399 37.9822C25.4118 38.4086 24.7183 38.4086 24.2898 37.9822C23.8626 37.5545 23.8626 36.8624 24.2898 36.4347C24.7183 36.0083 25.4118 36.0083 25.8399 36.4347ZM12.6762 55.6765C13.1009 56.1037 13.7922 56.1084 14.2224 55.6855L19.5341 50.4628C20.4365 49.5622 20.7109 48.2287 20.3141 47.0696L21.4566 45.9699C22.0718 45.3769 22.8817 45.05 23.7379 45.05H38.3025C40.8864 45.05 43.3286 44.0597 45.1801 42.2614C45.1811 42.2604 45.182 42.2595 45.1828 42.2588C45.1856 42.2563 45.187 42.2552 45.1885 42.2541C45.2051 42.2415 45.2189 42.2251 47.0065 40.0914C48.3845 38.4466 50.8165 35.5437 55.1163 30.4147C56.6758 28.5733 56.4425 25.8081 54.5957 24.25C52.7605 22.7063 50.0114 22.9281 48.4476 24.7379L41.9827 31.3696C41.1664 30.3669 39.9215 29.7418 38.5765 29.7418H26.3594C24.621 29.0159 22.7764 28.6485 20.8731 28.6485C15.5974 28.6485 10.9909 31.0804 8.51868 35.6399C7.47716 35.443 6.3787 35.7574 5.58846 36.5461L0.376556 41.7632C-0.0489579 42.1892 -0.049814 42.8783 0.374844 43.3056L12.6762 55.6765ZM20.8727 30.8351C22.5508 30.8351 24.1732 31.1722 25.6959 31.837C25.8346 31.8977 25.984 31.9289 26.1351 31.9289H38.5765C39.7644 31.9289 40.7678 32.8957 40.7678 34.1155C40.7678 35.3216 39.7849 36.3026 38.5765 36.3026H29.6377C29.0328 36.3026 28.5422 36.7922 28.5422 37.3959C28.5422 38 29.0328 38.4892 29.6377 38.4892H38.5765C40.993 38.4892 42.9587 36.5273 42.9587 34.1155C42.9587 33.9233 42.945 33.7327 42.9202 33.5439C44.939 31.4728 46.398 29.9763 47.4495 28.8978L47.4812 28.8652C49.6594 26.6311 50.0682 26.2118 50.0936 26.1816C50.8744 25.2617 52.2605 25.1451 53.1826 25.9209C54.1056 26.6998 54.2225 28.0824 53.4395 29.0074L43.6129 40.7318C42.1779 42.1067 40.2939 42.8634 38.3025 42.8634H23.7379C22.3106 42.8634 20.9596 43.4081 19.9348 44.3963L19.0037 45.2931L10.4206 36.7273C12.4266 32.9714 16.1908 30.8351 20.8727 30.8351ZM7.13897 38.0915C7.50027 37.7309 8.05507 37.6659 8.49556 37.9377C8.50358 37.9425 8.51028 37.9463 8.51651 37.9498C8.51947 37.9515 8.52233 37.9531 8.52517 37.9548C8.60097 37.9986 8.66506 38.0627 10.4336 39.8313C11.7569 41.1546 14.0343 43.4322 17.9849 47.3695C18.4228 47.8066 18.3992 48.503 17.9909 48.9106L13.4626 53.363L2.69762 42.537L7.13897 38.0915ZM31.3882 6.74876V5.46744C31.3882 4.86332 31.8787 4.37369 32.4836 4.37369C33.0885 4.37369 33.5791 4.86332 33.5791 5.46744V6.74107C34.0799 6.90684 34.6365 7.21061 35.1925 7.74766C35.627 8.16764 35.6386 8.85978 35.2178 9.29386C34.797 9.72752 34.1035 9.73905 33.6686 9.31907C33.2816 8.94523 32.8719 8.74741 32.4836 8.74741C31.8796 8.74741 31.3882 9.23832 31.3882 9.84116C31.3882 10.444 31.8796 10.9345 32.4836 10.9345C34.2961 10.9345 35.7704 12.4059 35.7704 14.2149C35.7704 15.6402 34.8544 16.8557 33.5791 17.3073V18.5886C33.5791 19.1927 33.0885 19.6819 32.4836 19.6819C31.8787 19.6819 31.3882 19.1927 31.3882 18.5886V17.3124C30.6583 17.068 29.9695 16.5835 29.3839 15.8884C28.9943 15.4261 29.0543 14.7366 29.5174 14.3478C29.9806 13.9594 30.6716 14.0188 31.0611 14.4811C31.5102 15.0147 32.0157 15.3082 32.4836 15.3082C33.0877 15.3082 33.5791 14.8177 33.5791 14.2149C33.5791 13.612 33.0877 13.1216 32.4836 13.1216C30.6711 13.1216 29.1968 11.6497 29.1968 9.84116C29.1968 8.41544 30.1129 7.19993 31.3882 6.74876Z" fill="#FAE41E"/>
          </svg>
        </div>
        <div class="about-text-block">
          <h3 class="about-name">100% собираемость арендных платежей с водителей</h3>
          <p class="about-text">как только у водителя накапливается долг в Яндекс Таксометре, Бот безопасно заглушит автомобиль, а сразу после пополнения - Бот разблокирует автомобиль. Автомобиль или приносит арендные платежи от работающего водителя или стоит заблокированный в ожидании погашения задолженности водителем.</p>
        </div>
      </div>
      <div class="about-row">
        <div class="about-icon">
          <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.2 47.6H54.1333C55.1643 47.6 56 48.4357 56 49.4667V51.3333C55.9969 53.9094 53.9094 55.9969 51.3333 56H4.66667C2.09062 55.9969 0.00308571 53.9094 0 51.3333V49.4667C0 48.4357 0.835735 47.6 1.86667 47.6H2.8V26.1333C2.8 25.6179 3.21787 25.2 3.73333 25.2C4.2488 25.2 4.66667 25.6179 4.66667 26.1333V47.6H18.6667C19.162 47.5987 19.6372 47.7956 19.9864 48.1469L21.0317 49.1923C21.2073 49.3683 21.4458 49.4671 21.6944 49.4667H34.3009C34.5528 49.4668 34.7942 49.3659 34.9711 49.1867L36.0136 48.1469C36.3628 47.7956 36.838 47.5987 37.3333 47.6H51.3333V15.8667H47.6V42.9333C47.6 43.4488 47.1821 43.8667 46.6667 43.8667C46.1512 43.8667 45.7333 43.4488 45.7333 42.9333V2.8C45.7333 2.28453 45.3155 1.86667 44.8 1.86667H11.2C10.6845 1.86667 10.2667 2.28453 10.2667 2.8V42.9333C10.2667 43.4488 9.8488 43.8667 9.33333 43.8667C8.81787 43.8667 8.4 43.4488 8.4 42.9333V15.8667H4.66667V21.4667C4.66667 21.9821 4.2488 22.4 3.73333 22.4C3.21787 22.4 2.8 21.9821 2.8 21.4667V15.8667C2.8 14.8357 3.63574 14 4.66667 14H8.4V2.8C8.4 1.2536 9.6536 0 11.2 0H44.8C46.3464 0 47.6 1.2536 47.6 2.8V14H51.3333C52.3643 14 53.2 14.8357 53.2 15.8667V47.6ZM51.3333 54.1333C52.8797 54.1333 54.1333 52.8797 54.1333 51.3333V49.4667H37.3333L36.2908 50.5092C35.7639 51.0382 35.0476 51.3349 34.3009 51.3333H21.6944C20.9504 51.3354 20.2365 51.0397 19.712 50.512L18.6667 49.4667H10.2667V51.3333C10.2667 51.8488 9.8488 52.2667 9.33333 52.2667C8.81787 52.2667 8.4 51.8488 8.4 51.3333V49.4667H6.53333V51.3333C6.53333 51.8488 6.11547 52.2667 5.6 52.2667C5.08453 52.2667 4.66667 51.8488 4.66667 51.3333V49.4667H1.86667V51.3333C1.86667 52.8797 3.12027 54.1333 4.66667 54.1333H51.3333ZM13.0661 3.7334H16.7995C17.3149 3.7334 17.7328 4.15127 17.7328 4.66673C17.7328 5.1822 17.3149 5.60007 16.7995 5.60007H13.9995V8.40007C13.9995 8.91553 13.5816 9.3334 13.0661 9.3334C12.5507 9.3334 12.1328 8.91553 12.1328 8.40007V4.66673C12.1328 4.15127 12.5507 3.7334 13.0661 3.7334ZM41.0681 16.8C41.0766 10.5955 36.7206 5.24049 30.6443 3.98559C24.5679 2.73068 18.447 5.92194 15.9968 11.6223C13.5466 17.3226 15.443 23.9599 20.5348 27.5054V33.6H19.6015C18.8449 33.5979 18.1618 34.0528 17.872 34.7517C17.5822 35.4506 17.7429 36.2553 18.2789 36.7892L26.6789 45.1893C27.4104 45.9171 28.5925 45.9171 29.324 45.1893L37.724 36.7892C38.2601 36.2553 38.4208 35.4506 38.131 34.7517C37.8412 34.0528 37.1581 33.5979 36.4015 33.6H35.4681V27.5054C38.9735 25.0677 41.0649 21.0697 41.0681 16.8ZM16.8015 16.8C16.8015 10.6145 21.8159 5.60005 28.0015 5.60005C34.1871 5.60005 39.2015 10.6145 39.2015 16.8C39.2015 22.9856 34.1871 28 28.0015 28C21.8187 27.9934 16.8082 22.9829 16.8015 16.8ZM36.4015 35.4667L28.0015 43.8667L19.6015 35.4667H21.4681C21.9836 35.4667 22.4015 35.0488 22.4015 34.5334V28.588C25.9402 30.2929 30.0628 30.2929 33.6015 28.588V34.5334C33.6015 35.0488 34.0193 35.4667 34.5348 35.4667H36.4015ZM28.932 24.1835V24.2666C28.932 24.782 28.5142 25.1999 27.9987 25.1999C27.4832 25.1999 27.0654 24.782 27.0654 24.2666V24.1816C24.9918 23.8889 23.4221 22.1587 23.332 20.0666C23.332 19.5511 23.7499 19.1332 24.2654 19.1332C24.7808 19.1332 25.1987 19.5511 25.1987 20.0666C25.2662 21.1301 26.0261 22.0222 27.0654 22.258V17.6483C24.9918 17.3556 23.4221 15.6254 23.332 13.5332C23.4221 11.4411 24.9918 9.71089 27.0654 9.41817V9.33324C27.0654 8.81777 27.4832 8.3999 27.9987 8.3999C28.5142 8.3999 28.932 8.81777 28.932 9.33324V9.41817C31.0056 9.71089 32.5753 11.4411 32.6654 13.5332C32.6654 14.0487 32.2475 14.4666 31.732 14.4666C31.2166 14.4666 30.7987 14.0487 30.7987 13.5332C30.7313 12.4694 29.9715 11.577 28.932 11.3408V15.9506C31.0059 16.2434 32.5757 17.9741 32.6654 20.0666C32.5761 22.1594 31.0062 23.8906 28.932 24.1835ZM28.932 22.2562C29.9707 22.0205 30.7304 21.1294 30.7987 20.0666C30.7309 19.0031 29.9711 18.1112 28.932 17.8751V22.2562ZM27.0654 11.3427C26.0266 11.5787 25.2669 12.4702 25.1987 13.5332C25.2669 14.5963 26.0266 15.4878 27.0654 15.7238V11.3427Z" fill="#FAE41E"/>
          </svg>
        </div>
        <div class="about-text-block">
          <h3 class="about-name">100% легкость пополнения баланса водителем</h3>
          <p class="about-text">Бот привяжет банковскую карту водителя к его учетной записи в Яндекс таксометре и сам спишет необходимую для погашения задолженности сумму, либо водитель одним нажатием кнопки в боте пополняет свой баланс на любую сумму с привязанной карты. Водитель так же легко может вывести заработанные деньги с баланса Яндекс таксометра себе на карту 24 часа в сутки, 7 дней в неделю!</p>
        </div>
      </div>
      <div class="about-row">
        <div class="about-icon">
          <svg width="56" height="54" viewBox="0 0 56 54" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M31.7333 5.53337H51.3333C53.9094 5.53645 55.9969 7.62398 56 10.2V48.4667C55.9969 51.0428 53.9094 53.1303 51.3333 53.1334H29.8667C27.2906 53.1303 25.2031 51.0428 25.2 48.4667V27H8.4V30.7334C8.4 32.2798 7.1464 33.5334 5.6 33.5334H4.66667C3.12027 33.5334 1.86667 32.2798 1.86667 30.7334V26.8283C0.751939 26.4342 0.0049013 25.3824 0 24.2V18.6C0.00108811 17.3916 0.473168 16.2311 1.316 15.3651C0.265941 14.6997 -0.219653 13.4216 0.123632 12.2268C0.466917 11.032 1.55687 10.2066 2.8 10.2H5.02787L6.53333 4.93137C7.22971 2.53302 9.4213 0.878888 11.9187 0.866699H21.6813C24.1771 0.878158 26.3682 2.52964 27.0667 4.92577L27.44 6.23243C28.6298 5.50335 29.5228 5.51278 31.0017 5.52839L31.0018 5.52839C31.2305 5.5308 31.4733 5.53337 31.7333 5.53337ZM46.9224 9.5467L47.9733 7.40003H33.2267L34.2795 9.5467C34.5578 9.97882 35.0467 10.2283 35.56 10.2H45.64C46.1539 10.2291 46.6438 9.97957 46.9224 9.5467ZM1.86667 24.2C1.86667 24.7155 2.28453 25.1334 2.8 25.1334H25.2V23.2667H23.3333C22.3024 23.2667 21.4667 22.431 21.4667 21.4V20.3454C21.4711 19.4178 22.1524 18.6325 23.0701 18.4974L25.2 18.1922V15.8H4.66667C3.12027 15.8 1.86667 17.0536 1.86667 18.6V24.2ZM23.3333 21.4H25.2V20.0775L23.3333 20.3454V21.4ZM11.9187 2.73337C10.2525 2.74252 8.79084 3.84647 8.32627 5.44657L5.90427 13.9334H25.2V10.2C25.2021 9.32174 25.4543 8.46221 25.9271 7.72203L25.2737 5.44563C24.8088 3.84591 23.3472 2.7424 21.6813 2.73337H11.9187ZM4.49493 12.0667H2.8C2.42697 12.0697 2.09154 12.2945 1.94699 12.6384C1.80245 12.9823 1.87657 13.3792 2.13547 13.6478C2.43268 13.9519 2.69094 13.9483 3.431 13.938C3.58568 13.9358 3.7614 13.9334 3.96293 13.9334L4.49493 12.0667ZM5.6 31.6667C6.11547 31.6667 6.53333 31.2488 6.53333 30.7334V27H3.73333V30.7334C3.73333 31.2488 4.1512 31.6667 4.66667 31.6667H5.6ZM51.3333 51.2667C52.8797 51.2667 54.1333 50.0131 54.1333 48.4667V10.2C54.1333 8.65364 52.8797 7.40003 51.3333 7.40003H50.0491L48.5977 10.3699C48.0115 11.4488 46.8673 12.1053 45.64 12.0667H35.56C34.3327 12.1053 33.1885 11.4488 32.6023 10.3699L31.1509 7.40003H29.8667C28.3203 7.40003 27.0667 8.65364 27.0667 10.2V48.4667C27.0667 50.0131 28.3203 51.2667 29.8667 51.2667H51.3333ZM11.8538 7.14088C10.7692 8.24061 10.6779 8.3332 10.2671 8.3332C9.88971 8.33312 9.54947 8.10573 9.40505 7.75702C9.26062 7.40831 9.34043 7.00693 9.60728 6.74L11.4739 4.87334C11.7083 4.63071 12.0553 4.53341 12.3816 4.61882C12.7079 4.70423 12.9628 4.95908 13.0482 5.2854C13.1336 5.61172 13.0363 5.95873 12.7937 6.19307C12.4149 6.57181 12.1072 6.88385 11.8538 7.14088ZM14.9333 17.6665H18.6667C19.1821 17.6665 19.6 18.0844 19.6 18.5998C19.6 19.1153 19.1821 19.5332 18.6667 19.5332H14.9333C14.4179 19.5332 14 19.1153 14 18.5998C14 18.0844 14.4179 17.6665 14.9333 17.6665ZM5.86518 17.8281L10.5318 18.4955C11.4494 18.6298 12.1308 19.4151 12.1344 20.3425V21.4C12.1344 22.4309 11.2986 23.2667 10.2677 23.2667H5.60104C4.57011 23.2667 3.73438 22.4309 3.73438 21.4V19.6761C3.73434 19.1349 3.96917 18.6204 4.37801 18.2658C4.78685 17.9112 5.32944 17.7515 5.86518 17.8281ZM5.60104 19.6761V21.4H10.2677V20.3425L5.60104 19.6761ZM18.6667 21.3999H14.9333C14.4179 21.3999 14 21.8178 14 22.3332C14 22.8487 14.4179 23.2666 14.9333 23.2666H18.6667C19.1821 23.2666 19.6 22.8487 19.6 22.3332C19.6 21.8178 19.1821 21.3999 18.6667 21.3999ZM11.4725 11.7931C11.837 12.1574 12.4278 12.1574 12.7922 11.7931L18.3922 6.19307C18.6349 5.95873 18.7322 5.61172 18.6467 5.2854C18.5613 4.95908 18.3065 4.70423 17.9802 4.61882C17.6538 4.53341 17.3068 4.63071 17.0725 4.87334L11.4725 10.4733C11.1081 10.8378 11.1081 11.4286 11.4725 11.7931ZM47.6013 47.5332H33.6013C33.0858 47.5332 32.668 47.9511 32.668 48.4665C32.668 48.982 33.0858 49.3999 33.6013 49.3999H47.6013C48.1168 49.3999 48.5346 48.982 48.5346 48.4665C48.5346 47.9511 48.1168 47.5332 47.6013 47.5332ZM48.5341 23.7334V26.2384C49.6488 26.6326 50.3959 27.6844 50.4008 28.8667V41C50.4008 42.5464 49.1472 43.8 47.6008 43.8H33.6008C32.0544 43.8 30.8008 42.5464 30.8008 41V28.8667C30.8057 27.6844 31.5527 26.6326 32.6674 26.2384V23.7334C32.6674 19.3519 36.2193 15.8 40.6008 15.8C44.9822 15.8 48.5341 19.3519 48.5341 23.7334ZM46.6674 23.7334C46.6633 20.3846 43.9496 17.6708 40.6008 17.6667C37.252 17.6708 34.5382 20.3846 34.5341 23.7334V26.0667H36.4008V23.7334C36.4008 21.4138 38.2812 19.5334 40.6008 19.5334C42.9204 19.5334 44.8008 21.4138 44.8008 23.7334V26.0667H46.6674V23.7334ZM38.2674 23.7334V26.0667H42.9341V23.7334C42.9341 22.4447 41.8894 21.4 40.6008 21.4C39.3121 21.4 38.2674 22.4447 38.2674 23.7334ZM47.6008 41.9334C48.1162 41.9334 48.5341 41.5155 48.5341 41V28.8667C48.5341 28.3512 48.1162 27.9334 47.6008 27.9334H33.6008C33.0853 27.9334 32.6674 28.3512 32.6674 28.8667V41C32.6674 41.5155 33.0853 41.9334 33.6008 41.9334H47.6008ZM45.0736 31.0069L38.2668 37.8137L36.1267 35.6735C35.7604 35.3198 35.1783 35.3249 34.8183 35.6849C34.4583 36.0449 34.4532 36.627 34.8069 36.9933L37.6069 39.7933C37.9714 40.1576 38.5622 40.1576 38.9267 39.7933L46.3933 32.3266C46.747 31.9604 46.742 31.3783 46.382 31.0182C46.0219 30.6582 45.4398 30.6532 45.0736 31.0069ZM13.0703 38.1999C13.0703 34.3184 15.2307 30.7595 18.6743 28.9683C19.1336 28.7338 19.696 28.916 19.9306 29.3753C20.1651 29.8345 19.9829 30.397 19.5236 30.6315C16.7043 32.103 14.9365 35.0197 14.9365 38.1999C14.9365 41.3802 16.7043 44.2969 19.5236 45.7683C19.8207 45.9201 20.0143 46.2187 20.0315 46.5519C20.0486 46.8851 19.8868 47.2021 19.6068 47.3835C19.3269 47.5649 18.9714 47.5833 18.6743 47.4315C15.2307 45.6404 13.0703 42.0815 13.0703 38.1999ZM20.3234 32.3199C18.1333 33.4615 16.7598 35.7264 16.7598 38.1962C16.7598 40.666 18.1333 42.9308 20.3234 44.0725C20.7822 44.3075 21.3446 44.1262 21.5797 43.6674C21.8147 43.2086 21.6334 42.6462 21.1746 42.4111C19.6078 41.589 18.6264 39.9656 18.6264 38.1962C18.6264 36.4268 19.6078 34.8034 21.1746 33.9813C21.6334 33.7462 21.8147 33.1838 21.5797 32.725C21.3446 32.2662 20.7822 32.0849 20.3234 32.3199ZM23.2318 36.0931C23.4664 36.5521 23.2844 37.1144 22.8254 37.3489C22.509 37.515 22.3108 37.8428 22.3108 38.2001C22.3108 38.5574 22.509 38.8852 22.8254 39.0513C23.2844 39.2858 23.4664 39.8481 23.2318 40.3071C22.9973 40.7661 22.4351 40.9481 21.976 40.7136C21.0359 40.228 20.4453 39.2583 20.4453 38.2001C20.4453 37.1419 21.0359 36.1722 21.976 35.6866C22.4351 35.4521 22.9973 35.6341 23.2318 36.0931Z" fill="#FAE41E"/>
          </svg>
        </div>
        <div class="about-text-block">
          <h3 class="about-name">100% контроль за перемещением автомобиля</h3>
          <p class="about-text">при выезде из разрешенной области, превышении допустимой скорости или обнаружении несанкционированного вмешательства в работу телематического оборудования - водитель и сотрудник таксопарка получат предупреждения и Бот либо заблокирует автомобиль, либо наложит штраф на водителя. Бот сам отследит и сообщит Вам при запредельном суточном использовании автомобиля и доначислит водителю штрафы по переработкам прямо в Яндекс таксометр.</p>
        </div>
      </div>
      <div class="about-row">
        <div class="about-icon">
          <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.7752 7.02361C54.0423 6.75444 54.431 6.64293 54.8008 6.72881C55.1707 6.81426 55.4699 7.08556 55.5911 7.44487C55.9704 8.56768 56.1626 9.7426 56.1626 10.9376C56.1626 16.9682 51.2469 21.8747 45.2041 21.8747C44.2396 21.8747 43.2876 21.7499 42.3651 21.5038L35.8753 27.9809L37.4853 29.4558L38.1596 28.7824C38.5881 28.3552 39.2816 28.3552 39.7097 28.7824C40.1377 29.2097 40.1377 29.9022 39.7097 30.329L39.1018 30.9357L54.2032 44.7631L54.2241 44.7826L54.2375 44.7956C56.8 47.3544 56.8 51.5179 54.2375 54.0767C51.6677 56.6414 47.5063 56.6406 44.9378 54.0771C44.9271 54.0664 44.9164 54.0557 44.9061 54.0446L31.0252 38.9962L30.4104 39.6097C29.9819 40.0365 29.2884 40.0365 28.8603 39.6097C28.4323 39.1824 28.4323 38.4899 28.8603 38.0626L29.5393 37.3854L28.0598 35.7816L21.6013 42.2274C22.4627 45.4074 21.8603 48.7314 19.9079 51.444C17.824 54.3386 14.5825 55.9989 11.0132 55.9989C9.81625 55.9989 8.63859 55.807 7.51402 55.4285C7.154 55.3076 6.88217 55.0089 6.79655 54.6398C6.71051 54.2702 6.82224 53.8827 7.09193 53.6157L11.6707 49.0817V46.896L9.17541 44.4055H6.98534L2.44253 48.9754C2.17498 49.2445 1.78671 49.356 1.41642 49.2702C1.04655 49.1847 0.747325 48.9134 0.626177 48.5541C0.246896 47.4317 0.0546875 46.2564 0.0546875 45.0618C0.0546875 41.4994 1.71779 38.2639 4.61804 36.1845C7.33594 34.2358 10.6668 33.6346 13.8531 34.4943L21.8946 26.4684L8.44467 13.0153L5.79998 13.0145C5.41513 13.014 5.05854 12.8128 4.86077 12.4834L0.211794 4.7498C-0.046768 4.31914 0.021297 3.76842 0.376605 3.41338L3.47592 0.320539C3.83123 -0.0345032 4.38303 -0.102435 4.81453 0.156049L12.5632 4.7968C12.8933 4.99419 13.0954 5.35051 13.0954 5.7346V8.37499L26.544 21.8281L34.6163 13.7715C33.7546 10.5915 34.3561 7.26885 36.3073 4.55754C38.392 1.66124 41.6347 0.00010377 45.2041 0.00010377C46.4014 0.00010377 47.5787 0.191937 48.7037 0.570478C49.0615 0.690961 49.3321 0.986616 49.4194 1.35319C49.5072 1.7202 49.3993 2.106 49.1343 2.37431L44.6561 6.91039V9.11455L47.0538 11.5939H49.2319L53.7752 7.02361ZM8.89972 10.8389C9.19082 10.8389 9.4695 10.9436 9.67498 11.1491L23.4442 24.9218L24.9943 23.3752L11.2238 9.60033C11.0187 9.39525 10.9036 9.11754 10.9036 8.82787V6.35411L4.4207 2.4713L2.53157 4.35674L6.42113 10.8381L8.89972 10.8389ZM52.7032 46.358L37.5504 32.4841L32.5761 37.4478L46.5025 52.5454C48.2165 54.2395 50.9802 54.2343 52.6874 52.5305C54.3907 50.8296 54.3959 48.0653 52.7032 46.358ZM31.0902 35.8371L35.934 31.0037L34.324 29.5288L29.6108 34.2332L31.0902 35.8371ZM42.4031 19.2313C43.303 19.5338 44.2456 19.6872 45.2041 19.6872C50.038 19.6872 53.9708 15.7621 53.9708 10.9376C53.9708 10.6176 53.9537 10.2993 53.9194 9.984L50.4661 13.4575C50.2602 13.6647 49.9802 13.7809 49.6883 13.7809H46.5881C46.2906 13.7809 46.0059 13.6605 45.7996 13.4468L42.7717 10.3155C42.5744 10.1117 42.4644 9.83959 42.4644 9.5559V6.46178C42.4644 6.17467 42.5774 5.89909 42.7794 5.69444L46.1878 2.24187C45.8625 2.20598 45.5341 2.18761 45.2037 2.18761C42.3488 2.18761 39.755 3.51634 38.0872 5.83373C36.4173 8.1541 35.9823 11.0329 36.8937 13.7327C37.0264 14.1266 36.9246 14.5611 36.63 14.855L36.5303 14.9545C34.9455 16.5363 14.9967 36.4466 14.9387 36.504C14.6442 36.798 14.2084 36.9001 13.8141 36.7672C11.1086 35.8576 8.22292 36.293 5.89673 37.9609C3.57652 39.6242 2.24604 42.212 2.24604 45.0614C2.24604 45.3814 2.26316 45.6997 2.29741 46.015L5.75075 42.541C5.95666 42.3342 6.23662 42.2176 6.529 42.2176H9.62917C9.91984 42.2176 10.1985 42.333 10.404 42.538L13.5414 45.6693C13.7469 45.8744 13.8625 46.1525 13.8625 46.4426V49.5368C13.8625 49.8286 13.7456 50.108 13.5384 50.3131L10.0577 53.7601C10.3736 53.7938 10.6925 53.8114 11.0132 53.8114C13.8676 53.8114 16.4609 52.483 18.1275 50.1678C19.7987 47.8457 20.2345 44.9661 19.3235 42.2663C19.1904 41.8724 19.2927 41.4375 19.5872 41.1435C22.6092 38.1272 29.2253 31.524 34.8305 25.9299L34.8397 25.9207L34.8898 25.8707L41.2786 19.4945C41.5731 19.201 42.0089 19.0993 42.4031 19.2313ZM38.0649 16.9694C37.46 16.9694 36.969 17.4581 36.969 18.0627C36.969 18.6668 37.46 19.1564 38.0649 19.1564C38.671 19.1564 39.1608 18.6668 39.1608 18.0627C39.1608 17.4581 38.671 16.9694 38.0649 16.9694ZM18.1524 36.8419C17.5463 36.8419 17.0565 37.3319 17.0565 37.9356C17.0565 38.5406 17.5463 39.0294 18.1524 39.0294C18.7573 39.0294 19.2483 38.5406 19.2483 37.9356C19.2483 37.3319 18.7573 36.8419 18.1524 36.8419ZM34.1887 20.3826L20.4751 34.0694C20.0475 34.4963 20.0475 35.1888 20.4751 35.6161C20.9032 36.0433 21.5971 36.0433 22.0252 35.6161L35.7388 21.9292C36.1669 21.5024 36.1669 20.8099 35.7388 20.3826C35.3107 19.9554 34.6168 19.9554 34.1887 20.3826ZM49.589 49.435C49.1609 49.8635 48.467 49.8635 48.0389 49.4375L38.1609 39.6105C37.7324 39.1841 37.7311 38.4919 38.1587 38.0638C38.5855 37.6362 39.2799 37.6349 39.7084 38.0613L49.5864 47.8883C50.0149 48.3147 50.0162 49.0073 49.589 49.435Z" fill="#FAE41E"/>
          </svg>
        </div>
        <div class="about-text-block">
          <h3 class="about-name">100% контроль за техническим обслуживанием автомобиля</h3>
          <p class="about-text">при приближении планового техобслуживания, Бот отправит напоминание механику, водитель получит оповещение о необходимости посетить СТО! На СТО будет отправлено электронное сообщение с просьбой о записи на обслуживание! Если водитель не посетит СТО, автомобиль будет заблокирован! Бот вовремя напомнит об окончании срока действия полисов ОСАГО/КАСКО.</p>
        </div>
      </div>
      <div class="about-row">
        <div class="about-icon">
          <svg width="34" height="56" viewBox="0 0 34 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M32.8594 0C33.147 0 33.4292 0.116922 33.6326 0.320469C33.8361 0.523906 33.9531 0.806094 33.9531 1.09375V23.5025V23.5036C33.9531 24.1063 33.462 24.5973 32.8594 24.5973C32.2567 24.5973 31.7656 24.1063 31.7656 23.5036V2.1875H2.23438V52.675L4.84516 50.6516C5.03864 50.5006 5.27063 50.4219 5.51453 50.4219C5.81411 50.4219 6.09313 50.54 6.30192 50.7555L9.00578 53.55L12.3231 51.7563C12.6392 51.5855 13.0352 51.5834 13.3534 51.7507L16.86 53.597L20.3447 50.6767C20.5405 50.5127 20.7897 50.4219 21.0469 50.4219C21.3094 50.4219 21.562 50.5158 21.76 50.6866L25.1201 53.5795L28.3903 51.7628C28.7141 51.5834 29.1297 51.5834 29.4534 51.7628L31.7657 53.0469V33.3473C31.7657 32.7447 32.2568 32.2536 32.8595 32.2536C33.4621 32.2536 33.9532 32.7447 33.9532 33.3473V54.9062C33.9532 55.2923 33.7464 55.6533 33.4139 55.8491C33.0869 56.0416 32.6603 56.0469 32.3278 55.8622L28.9219 53.9699L25.5158 55.8622C25.353 55.9529 25.1691 56 24.9844 56C24.723 56 24.4692 55.9059 24.2702 55.7353L21.037 52.9506L17.7022 55.7441C17.5064 55.9092 17.2559 55.9989 16.9989 55.9989C16.8217 55.9989 16.6467 55.9561 16.4903 55.8741L12.8503 53.9579L9.3175 55.8686C9.15891 55.954 8.97844 55.9988 8.79797 55.9988C8.50266 55.9999 8.215 55.8785 8.01047 55.6674L5.41062 52.98L1.81 55.7702C1.61969 55.9191 1.38125 56 1.14063 56C0.975578 56 0.809219 55.9616 0.659375 55.8883C0.281922 55.7036 0.046875 55.3273 0.046875 54.9062V1.09375C0.046875 0.806094 0.163906 0.524016 0.367344 0.320469C0.570781 0.116922 0.852969 0 1.14063 0H32.8594ZM33.9531 28.4256C33.9531 29.0296 33.4634 29.5193 32.8594 29.5193C32.2553 29.5193 31.7656 29.0296 31.7656 28.4256C31.7656 27.8215 32.2553 27.3318 32.8594 27.3318C33.4634 27.3318 33.9531 27.8215 33.9531 28.4256ZM26.8438 22.9688H17.1094C16.5054 22.9688 16.0156 23.4585 16.0156 24.0625C16.0156 24.6665 16.5054 25.1562 17.1094 25.1562H26.8438C27.4477 25.1562 27.9375 24.6665 27.9375 24.0625C27.9375 23.4585 27.4477 22.9688 26.8438 22.9688ZM17.1094 18.5938H26.8438C27.4477 18.5938 27.9375 19.0835 27.9375 19.6875C27.9375 20.2915 27.4477 20.7812 26.8438 20.7812H17.1094C16.5054 20.7812 16.0156 20.2915 16.0156 19.6875C16.0156 19.0835 16.5054 18.5938 17.1094 18.5938ZM26.8438 27.3438H17.1094C16.5054 27.3438 16.0156 27.8335 16.0156 28.4375C16.0156 29.0415 16.5054 29.5312 17.1094 29.5312H26.8438C27.4477 29.5312 27.9375 29.0415 27.9375 28.4375C27.9375 27.8335 27.4477 27.3438 26.8438 27.3438ZM17.1094 14.2188H26.8438C27.4477 14.2188 27.9375 14.7085 27.9375 15.3125C27.9375 15.9165 27.4477 16.4062 26.8438 16.4062H17.1094C16.5054 16.4062 16.0156 15.9165 16.0156 15.3125C16.0156 14.7085 16.5054 14.2188 17.1094 14.2188ZM26.8438 8.75H19.4062C18.8023 8.75 18.3125 9.23978 18.3125 9.84375C18.3125 10.4477 18.8023 10.9375 19.4062 10.9375H26.8438C27.4477 10.9375 27.9375 10.4477 27.9375 9.84375C27.9375 9.23978 27.4477 8.75 26.8438 8.75ZM7.15625 10.9375C6.55228 10.9375 6.0625 10.4477 6.0625 9.84375C6.0625 9.23978 6.55228 8.75 7.15625 8.75H14.4844C15.0883 8.75 15.5781 9.23978 15.5781 9.84375C15.5781 10.4477 15.0883 10.9375 14.4844 10.9375H7.15625ZM17 48.2344C17.6041 48.2344 18.0938 47.7447 18.0938 47.1406C18.0938 46.5366 17.6041 46.0469 17 46.0469C16.3959 46.0469 15.9062 46.5366 15.9062 47.1406C15.9062 47.7447 16.3959 48.2344 17 48.2344ZM21.9219 46.0469H26.8438C27.4464 46.0469 27.9375 46.538 27.9375 47.1406C27.9375 47.7433 27.4464 48.2344 26.8438 48.2344H21.9219C21.3192 48.2344 20.8281 47.7433 20.8281 47.1406C20.8281 46.538 21.3192 46.0469 21.9219 46.0469ZM7.15625 46.0469C6.55359 46.0469 6.0625 46.538 6.0625 47.1406C6.0625 47.7433 6.55359 48.2344 7.15625 48.2344H12.0781C12.6808 48.2344 13.1719 47.7433 13.1719 47.1406C13.1719 46.538 12.6808 46.0469 12.0781 46.0469H7.15625ZM14.5938 41.6719C15.1977 41.6719 15.6875 42.1617 15.6875 42.7656C15.6875 43.3696 15.1977 43.8594 14.5938 43.8594H7.15625C6.55228 43.8594 6.0625 43.3696 6.0625 42.7656C6.0625 42.1617 6.55228 41.6719 7.15625 41.6719H14.5938ZM26.8438 41.6719H19.5156C18.9117 41.6719 18.4219 42.1617 18.4219 42.7656C18.4219 43.3696 18.9117 43.8594 19.5156 43.8594H26.8438C27.4477 43.8594 27.9375 43.3696 27.9375 42.7656C27.9375 42.1617 27.4477 41.6719 26.8438 41.6719ZM26.8438 32.9219C27.4477 32.9219 27.9375 33.4117 27.9375 34.0156V38.3906C27.9375 38.9946 27.4477 39.4844 26.8438 39.4844H7.15625C6.55228 39.4844 6.0625 38.9946 6.0625 38.3906V34.0156C6.0625 33.4117 6.55228 32.9219 7.15625 32.9219H26.8438ZM8.25 37.2969H25.75V35.1094H8.25V37.2969ZM21.9219 6.5625C22.5258 6.5625 23.0156 6.07272 23.0156 5.46875C23.0156 4.86478 22.5258 4.375 21.9219 4.375H12.0781C11.4742 4.375 10.9844 4.86478 10.9844 5.46875C10.9844 6.07272 11.4742 6.5625 12.0781 6.5625H21.9219ZM11.4212 29.6772C11.4212 30.2812 10.9315 30.7709 10.3275 30.7709C9.72353 30.7709 9.23374 30.2812 9.23374 29.6772V28.547H8.06704C7.46307 28.547 6.97329 28.0572 6.97329 27.4533C6.97329 26.8493 7.46307 26.3595 8.06704 26.3595H10.3275C11.2724 26.3595 12.0411 25.609 12.0411 24.6642C12.0411 23.7194 11.2724 22.9689 10.3275 22.9689C8.17642 22.9689 6.42642 21.2189 6.42642 19.0678C6.42642 17.2965 7.61357 15.7981 9.23374 15.324V14.0731C9.23374 13.4691 9.72353 12.9793 10.3275 12.9793C10.9315 12.9793 11.4212 13.4691 11.4212 14.0731V15.2033H12.5879C13.1919 15.2033 13.6817 15.693 13.6817 16.297C13.6817 16.901 13.1919 17.3908 12.5879 17.3908H10.3275C9.3826 17.3908 8.61392 18.1413 8.61392 19.0861C8.61392 20.0308 9.3826 20.7814 10.3275 20.7814C12.4786 20.7814 14.2286 22.5314 14.2286 24.6825C14.2286 26.4538 13.0414 27.9521 11.4212 28.4263V29.6772Z" fill="#FAE41E"/>
          </svg>
        </div>
        <div class="about-text-block">
          <h3 class="about-name">100% своевременная оплата штрафов ГИБДД в автоматическом режиме</h3>
          <p class="about-text">Бот отследит штрафы ГИБДД, начислит эти штрафы именно на того водителя, который управлял автомобилем на момент нарушения (Бот ведет историю назначений водителей) и спишет сумму задолженности с водителя в Яндекс таксометре. А если штраф поступил после продажи автомобиля, Бот сравнит дату продажи и дату постановления и не даст оплатить уже “чужой” штраф, выписанный по номеру автомобиля!</p>
        </div>
      </div>
      <div class="about-row mb-24">
        <div class="about-icon">
          <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M49.0007 0C46.427 0 44.334 2.093 44.334 4.6667C44.334 5.53103 44.57 6.34114 44.9811 7.03597L37.37 14.6471C36.6751 14.2361 35.865 14 35.0007 14C33.5333 14 32.2222 14.6804 31.3661 15.7423L25.666 14.1167C25.6669 14.0779 25.6674 14.039 25.6674 14C25.6674 11.4263 23.5744 9.33325 21.0007 9.33325C18.427 9.33325 16.334 11.4263 16.334 14C16.334 14.6783 16.4794 15.3233 16.7407 15.9053L9.46616 21.7056C8.75037 21.2585 7.90522 21 7.00069 21C4.42698 21 2.33398 23.093 2.33398 25.6667C2.33398 28.2404 4.42698 30.3334 7.00069 30.3334C9.57439 30.3334 11.6674 28.2404 11.6674 25.6667C11.6674 24.8461 11.4546 24.0744 11.0814 23.4038L18.198 17.7294C18.9789 18.3176 19.9497 18.6667 21.0007 18.6667C22.7135 18.6667 24.2134 17.7397 25.0252 16.361L30.398 17.8932C30.3559 18.1449 30.334 18.4033 30.334 18.6667C30.334 21.2404 32.427 23.3334 35.0007 23.3334C37.5744 23.3334 39.6674 21.2404 39.6674 18.6667C39.6674 17.802 39.4312 16.9916 39.0198 16.2966L46.6306 8.68584C47.3256 9.09717 48.136 9.33341 49.0007 9.33341C51.5744 9.33341 53.6674 7.24041 53.6674 4.6667C53.6674 2.093 51.5744 0 49.0007 0ZM19.2147 15.5001C19.6429 16.0091 20.2842 16.3332 21.0007 16.3332C22.0576 16.3332 22.9511 15.6278 23.2377 14.6642L23.2445 14.6394C23.2471 14.6304 23.2497 14.6213 23.2525 14.6124C23.3056 14.4171 23.334 14.2118 23.334 14C23.334 12.7144 22.2887 11.6667 21.0007 11.6667C19.7127 11.6667 18.6674 12.7142 18.6674 14C18.6674 14.5283 18.8439 15.0164 19.1413 15.4082C19.1543 15.4229 19.167 15.438 19.1793 15.4536C19.1916 15.4689 19.2034 15.4844 19.2147 15.5001ZM8.60443 23.9732C8.63283 24.0049 8.66261 24.0346 8.69362 24.0624C9.09044 24.481 9.33398 25.0462 9.33398 25.6667C9.33398 26.9523 8.28869 28 7.00069 28C5.71269 28 4.66739 26.9523 4.66739 25.6667C4.66739 24.381 5.71269 23.3334 7.00069 23.3334C7.62166 23.3334 8.18622 23.5769 8.60443 23.9732ZM47.395 6.35835C47.8134 6.75573 48.3788 7 49.0007 7C50.2887 7 51.334 5.9523 51.334 4.6667C51.334 3.38111 50.2887 2.33341 49.0007 2.33341C47.7127 2.33341 46.6674 3.381 46.6674 4.6667C46.6674 5.28775 46.9113 5.85327 47.3087 6.27199C47.3237 6.28551 47.3384 6.29948 47.3528 6.31391C47.3674 6.32844 47.3814 6.34325 47.395 6.35835ZM45.5007 18.6667C44.8567 18.6667 44.334 19.1895 44.334 19.8335V53.6667H39.6674V33.8335C39.6674 33.1893 39.1447 32.6667 38.5007 32.6667H31.5007C30.8567 32.6667 30.334 33.1895 30.334 33.8335V53.6667H25.6674V29.1667C25.6674 28.5227 25.1447 28 24.5007 28H17.5007C16.8567 28 16.334 28.5227 16.334 29.1667V53.6667H11.6674V40.8333C11.6674 40.1893 11.1447 39.6667 10.5007 39.6667H3.50069C2.85669 39.6667 2.33398 40.1895 2.33398 40.8335V53.6667H1.1667C0.522703 53.6667 0 54.1893 0 54.8333C0 55.4773 0.522703 56 1.1667 56H3.50069H10.5007H17.4886L17.5007 56.0001H24.5007L24.5127 56H31.4847L31.5007 56.0002H38.5007L38.5166 56H45.4847L45.5007 56.0002H52.5007L52.5166 56H54.8334C55.4774 56 56.0001 55.4773 56.0001 54.8333C56 54.1893 55.4773 53.6667 54.8333 53.6667H53.6674V19.8335C53.6674 19.1893 53.1447 18.6667 52.5007 18.6667H45.5007ZM51.334 53.6667H46.6673V21H51.334V53.6667ZM32.6673 53.6667H37.334V35H32.6673V53.6667ZM23.334 53.6667H18.6673V30.3333H23.334V53.6667ZM4.66739 42V53.6667H9.33398H9.33409V42H4.66739ZM32.6674 18.6667C32.6674 19.9523 33.7127 21 35.0007 21C36.2887 21 37.334 19.9523 37.334 18.6667C37.334 17.3811 36.2887 16.3334 35.0007 16.3334C33.7127 16.3334 32.6674 17.381 32.6674 18.6667Z" fill="#FAE41E"/>
          </svg>
        </div>
        <div class="about-text-block">
          <h3 class="about-name">100% анализ работы таксопарка</h3>
          <p class="about-text">Бот ежедневно анализирует поступающие данные: количество работающих и простаивающих Бортов, количество полученых с водителей арендных платежей, доход с учетом лизингов, доход по заказам, возвраты денег водителям и т.п. и будет сообщать Вам эту информацию в доступном виде для принятия Вами стратегических решений по развитию бизнеса!</p>
        </div>
      </div>
      <p class="page-text mb-8">Описанный функционал работает в автоматическом режиме без участия сотрудников таксопарка!</p>
      <p class="page-text">Уже на следующий день, после запуска Бота, Вы узнаете много нового о функционировании Вашего таксопарка! Сможете сделать выводы и серьезные стратегические решения! Огромную часть рутины начнет выполнять Бот, который работает без выходных и перерывов 24 часа в сутки, 7 дней в неделю!</p>
    </section>

    <section class="section page" id="connect">
      <div class="page-header">
        <h2 class="page-name">Условия подключения</h2>
        <button type="button" class="close-page">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 13L7 7L1 1" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <p class="page-text">Вы должны быть организацией (ИП или ООО) с подключением к личному кабинету Яндекс такси. У Вас и у водителей должен быть установлен мессенджер Viber на мобильных устройствах. Приём платежей от водителей может быть использован любыми водителями (как на собственных автомобилях, так и на автомобилях таксопарка).</p>
      <p class="page-text">Бот предназначен для контроля передвижения транспортных средств, находящихся в собственности таксопарка, для контроля водителей на личных автомобилях Бот не предназначен! Для тотального контроля транспортных средст необходима установка телематического оборудования (трекеров). Это можно сделать самостоятельно у любого поставщика телематических услуг на платформе Wialon, либо, взять в аренду это оборудование у нас.</p>
    </section>
    <section class="section page" id="steps">
      <div class="page-header">
        <h2 class="page-name">Этапы внедрения</h2>
        <button type="button" class="close-page">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 13L7 7L1 1" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <p class="page-step">Внедрение Бота для таксопарка производится удаленно! Ваши компьютеры и серверы не будут задействованы в работе Бота!</p>
      <p class="page-step">Первый этап - подключение бесплатного функционала! После того, как Вы определитесь с установкой телематического оборудования - Вы можете постепенно перейти на платные тарифы! Бот приступит к работе сразу, после заполнения формы! Данные для доступа к водительской части будут отправлены им в СМС.</p>
      <p class="page-step">Ежесекундно Бот производит тысячи операций на наших и облачных серверах, а для общения, Бот может использовать любой популярный мессенджер, например, Viber - именно с помощью этого мессенджера и будет происходить общение водителей и менеджеров таксопарка с ботом - легко, удобно, безопасно и бесплатно! Никаких дополнительных серверов и программ, всё работает само, параллельно работе Вашей системы учета. Внедрение Бота занимает несколько минут!</p>
    </section>
    <section class="section page" id="price">
      <div class="page-header">
        <h2 class="page-name">Тарифы</h2>
        <button type="button" class="close-page">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 13L7 7L1 1" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <div class="price-container">

          <!--price comparison table-->
          <div class="comparison">
              <table style="margin-top: 25px;">
                  <thead>
                  <tr>
                      <th class="tl"></th>
                      <th class="compare-heading">Бесплатно</th>
                      <th class="compare-heading compare-heading__main"> Минимум вложений </th>
                      <th class="compare-heading"> Стандарт </th>
                  </tr>
                  <tr class="compare-heading_th">
                      <th class="compare-heading_th__first">
                          Ежемесячный
                          абонентский платеж за использование Бота за 1 транспортное средство
                      </th>
                      <th class="price-info">
                          <div class="free-head-item-conatiner">
                              <p class="price-head-text">без установки<br> телематического<br> оборудования</p>
                              <p class="price-head-cost">0</p>
                              <p class="price-head-val">руб.</p>
                          </div>
                      </th>
                      <th class="price-info price-info__main">
                          <div class="top-head-item-conatiner">
                              <p class="price-head-text">аренда нашего<br> телематического оборудования</p>
                              <p class="price-head-cost">1500</p>
                              <p class="price-head-val">руб.</p>
                              <p class="price-head-val-add">700р.-трекер,<br> 500р.-абон.трекер, 300р.-бот</p>
                          </div>
                      </th>
                      <th class="price-info">
                          <div class="free-head-item-conatiner">
                              <p class="price-head-text">оборудование<br> приобретается Вами<br> самостоятельно</p>
                              <p class="price-head-cost">300</p>
                              <p class="price-head-val">руб.</p>
                          </div>
                      </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td></td>
                      <td colspan="3" class="collspan">Контроль баланса водителей-должников</td>
                  </tr>
                  <tr class="compare-row">
                      <td>Контроль баланса водителей-должников</td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Оповещение о критической задолженности водителя (долг у водителя более суток)</td>
                  </tr>
                  <tr>
                      <td>Оповещение о критической задолженности водителя (долг у водителя более суток)</td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen">
                          автомобиль будет заблокирован Ботом
                      </td>
                      <td class="tickgreen">
                          автомобиль будет заблокирован Ботом
                      </td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Контроль работающих и простаивающих ТС с указание причины простоя ТС (ремонт, тотал, нет водителя, ждет документы...)</td>
                  </tr>
                  <tr class="compare-row">
                      <td>Контроль работающих и простаивающих ТС с указание причины простоя ТС (ремонт, тотал, нет водителя, ждет документы...)</td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Количество полученых арендных платежей и сумм по ним</td>
                  </tr>
                  <tr>
                      <td>Количество полученых арендных платежей и сумм по ним</td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Количество и размер полученной комиссии с выполненных заказов (Парковых и Яндекс Такси)</td>
                  </tr>
                  <tr class="compare-row">
                      <td>Количество и размер полученной комиссии с выполненных заказов (Парковых и Яндекс Такси)</td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Оповещение водителей о текущем балансе и собраном залоге (депозите)</td>
                  </tr>
                  <tr>
                      <td>Оповещение водителей о текущем балансе и собраном залоге (депозите)</td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Снять водителя в Яндекс Таксометре с ТС или посадить водителя на ТС</td>
                  </tr>
                  <tr class="compare-row">
                      <td>Снять водителя в Яндекс Таксометре с ТС или посадить водителя на ТС</td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Просмотр истории фото-контролей, сделанных водителем в Яндекс таксометре и при выдаче автомобиля водителю</td>
                  </tr>
                  <tr>
                      <td>Просмотр истории фото-контролей, сделанных водителем в Яндекс таксометре и при выдаче автомобиля водителю</td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Система выдачи/возврата автомобиля водителем с фотофиксацией и указанием доп.информации (ведение фотоистории выдачи ТС водителям)</td>
                  </tr>
                  <tr class="compare-row">
                      <td>Система выдачи/возврата автомобиля водителем с фотофиксацией и указанием доп.информации (ведение фотоистории выдачи ТС водителям)</td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Ежемесячные лизинговы платежи и доход от полученных с водителей арендных платежей</td>
                  </tr>
                  <tr>
                      <td>Ежемесячные лизинговы платежи и доход от полученных с водителей арендных платежей</td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Оповещение о необходимости продления полисов КАСКО и ОСАГО, Диагностической карты</td>
                  </tr>
                  <tr class="compare-row">
                      <td>Оповещение о необходимости продления полисов КАСКО и ОСАГО, Диагностической карты</td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Оповещение водителей о наличии свободного автомобиля с описанием технических характеристик и фото</td>
                  </tr>
                  <tr>
                      <td>Оповещение водителей о наличии свободного автомобиля с описанием технических характеристик и фото</td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Оповещение о подключении нового автомобиля в таксопарке и о продаже автомобиля</td>
                  </tr>
                  <tr class="compare-row">
                      <td>Оповещение о подключении нового автомобиля в таксопарке и о продаже автомобиля</td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Контроль проведения планового ТО, оповещения о необходимости и просрочке проведения ТО (на основании пробега ТС)</td>
                  </tr>
                  <tr>
                      <td>Контроль проведения планового ТО, оповещения о необходимости и просрочке проведения ТО (на основании пробега ТС)</td>
                      <td></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Оповещение о выезде ТС из разрешенного района (области)</td>
                  </tr>
                  <tr class="compare-row">
                      <td>Оповещение о выезде ТС из разрешенного района (области)</td>
                      <td></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Оповещение водителя о несоблюдении скоростного режима с возможностью автоштрафа на балансе в Яндекс Таксометре</td>
                  </tr>
                  <tr>
                      <td>Оповещение водителя о несоблюдении скоростного режима с возможностью автоштрафа на балансе в Яндекс Таксометре</td>
                      <td></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Контроль злоупотребления водителем, например - не глушит ТС 24 часа в сутки</td>
                  </tr>
                  <tr class="compare-row">
                      <td>Контроль злоупотребления водителем, например - не глушит ТС 24 часа в сутки</td>
                      <td></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Контроль штрафов ГИБДД с последующей автоматической оплатой и оповещением водителя</td>
                  </tr>
                  <tr>
                      <td>Контроль штрафов ГИБДД с последующей автоматической оплатой и оповещением водителя</td>
                      <td></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Блокировка ТС по стартеру И/ИЛИ по бензонасосу водителя-должника</td>
                  </tr>
                  <tr class="compare-row">
                      <td>Блокировка ТС по стартеру И/ИЛИ по бензонасосу водителя-должника</td>
                      <td></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Контроль функционирования трекера (поломка или несанкционированное вмешательство). Отсутствие координат</td>
                  </tr>
                  <tr>
                      <td>Контроль функционирования трекера (поломка или несанкционированное вмешательство). Отсутствие координат</td>
                      <td></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Оповещение о снятии ТС с контроля штрафов ГИБДД в связи с продажей</td>
                  </tr>
                  <tr class="compare-row">
                      <td>Оповещение о снятии ТС с контроля штрафов ГИБДД в связи с продажей</td>
                      <td></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Расчеты с водителем - пополнение баланса Яндекс таксометра или вывод денег на банковские карты водителям</td>
                  </tr>
                  <tr>
                      <td>Расчеты с водителем - пополнение баланса Яндекс таксометра или вывод денег на банковские карты водителям</td>
                      <td></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Оповещени о движении автомобиля без назначенного водителя</td>
                  </tr>
                  <tr class="compare-row">
                      <td>Оповещени о движении автомобиля без назначенного водителя</td>
                      <td></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td colspan="3" class="collspan">Отправка парковых заказов на распределение в автоматическом режиме: а) в ЯндексТаксометр, б) в Бот, в) в биржу заказов РБТ</td>
                  </tr>
                  <tr>
                      <td>Отправка парковых заказов на распределение в автоматическом режиме: а) в ЯндексТаксометр, б) в Бот, в) в биржу заказов РБТ</td>
                      <td></td>
                      <td class="tickgreen"></td>
                      <td class="tickgreen"></td>
                  </tr>
                  </tbody>
              </table>

          </div>
          <!-- end price comparison table-->
      </div>

    </section>
    <section class="section page" id="recomend">
      <div class="page-header">
        <h2 class="page-name">Нас рекомендуют</h2>
        <button type="button" class="close-page">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 13L7 7L1 1" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <div class="recomend-row">
        <div class="recomend-item">
          <img src="assets/img/svg/google.svg" alt="">
        </div>
        <div class="recomend-item">
          <img src="assets/img/svg/micro.svg" alt="">
        </div>
        <div class="recomend-item">
          <img src="assets/img/svg/gmail.svg" alt="">
        </div>
        <div class="recomend-item">
          <img src="assets/img/svg/hang.svg" alt="">
        </div>
        <div class="recomend-item">
          <img src="assets/img/svg/google.svg" alt="">
        </div>
        <div class="recomend-item">
          <img src="assets/img/svg/micro.svg" alt="">
        </div>
        <div class="recomend-item">
          <img src="assets/img/svg/gmail.svg" alt="">
        </div>
        <div class="recomend-item">
          <img src="assets/img/svg/hang.svg" alt="">
        </div>
        <div class="recomend-item">
          <img src="assets/img/svg/google.svg" alt="">
        </div>
        <div class="recomend-item">
          <img src="assets/img/svg/micro.svg" alt="">
        </div>
      </div>
    </section>
  </div>
  <!-- End page body -->
  <!-- Begin footer -->
  <include src="../chunks/footer.html"></include>
  <!-- End footer -->
  <!-- Begin modals -->
  <include src="../chunks/modals.html"></include>
  <!-- End modals -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
