// header
//-----------------------------------------------------------------------------------

.header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  @media (max-width: 1130px){
    background-color: #fff;
  }
}
.header-container{
  width: 1440px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 24px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  @media (max-width: 1130px){
    padding: 16px 15px;
  }
}
.menu-btn{
  text-transform: uppercase;
  font-family: $GothamPro;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  width: 104px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/menu-bg.png) center center no-repeat;
  @media (max-width: 767px) {
    width: 82px;
    height: 32px;
    background-size: 100%;
    font-size: 12px;
  }
}

.logo{
  @media (max-width: 767px) {
    width: 115px;
  }
}